<div class="row clearfix" ng-hide>
    <!-- List of key pairs card -->
    <div class="col-lg-12">
        <div class="card">
            <div class="header">
                <div class="col-lg-6">
                    <h2>Key Pairs
                        <small>RSA key pairs for establishing SSH connections to devices</small>
                    </h2>
                </div>
                <div class="align-right">
                    <button type="button"
                            class="btn bg-blue btn-circle waves-effect waves-circle waves-float m-t-0"
                            data-toggle="modal" data-target="#addKeyPairModal" data-backdrop="static"
                            data-keyboard="false">
                        <i class="material-icons">add</i>
                    </button>
                    <button type="button"
                            class="btn bg-blue btn-circle waves-effect waves-circle waves-float m-t-0"
                            data-toggle="modal" data-target="#generateKeyPairModal" data-backdrop="static"
                            data-keyboard="false">
                        <i class="material-icons">build</i>
                    </button>
                </div>
            </div>
            <div class="body">
                <div class="row">
                    <div class="col-lg-8"></div>
                    <div class="col-lg-4">
                        <div class="form-group list-filter">
                            <div class="input-group">
                                <div class="form-line">
                                    <input class="form-control ng-pristine ng-valid ng-touched"
                                           type="text" placeholder="Filter by name..."
                                           ng-model="keyPairListCtrl.filterTerm">
                                </div>
                                <span class="input-group-addon">
                                    <button type="button" class="list-filter-clear"
                                            ng-show="keyPairListCtrl.filterTerm.length > 0"
                                            ng-click="keyPairListCtrl.filterTerm = ''">
                                        <i class="material-icons">clear</i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-hover" st-table="displayedCollection" st-safe-src="keyPairListCtrl.items">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Public Key</th>
                        <th>Owner</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="{{item.id}}" ng-repeat="item in displayedCollection | filter:keyPairListCtrl.nameFilter">
                        <td>{{item.name}}</td>
                        <td>
                            <form ng-submit="ctrl.showPublicKey(item.id)" style="display: inline-block">
                                <button type="submit" class="btn btn-default m-t-0 waves-effect">
                                    <i class="material-icons" style="font-size: 15px;">remove_red_eye</i>
                                </button>
                            </form>
                            &nbsp;
                            <form ng-submit="ctrl.downloadPublicKey(item.id)" style="display: inline-block">
                                <button type="submit" class="btn btn-default m-t-0 waves-effect">
                                    <i class="material-icons" style="font-size: 15px;">file_download</i>
                                </button>
                            </form>
                        </td>
                        <td>{{item.ownerName ? item.ownerName : "None"}}</td>
                        <td>
                            <form ng-submit="deleteKeyPairCtrl.deleteItem()"
                                  style="display: inline-block">
                                <button type="submit"
                                        class="btn bg-red btn-circle waves-effect waves-circle waves-float"
                                        ng-click="deleteKeyPairCtrl.item.id = item.id"><i class="material-icons"
                                                                                          style="font-size:14px;">delete</i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    <tr ng-show="keyPairListCtrl.items.length === 0">
                        <td>No key pairs registered.</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td class="text-center" st-pagination="" st-items-by-page="10" colspan="3">
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addKeyPairModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Register a new key pair
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h5>
                </div>
                <form ng-submit="addKeyPairCtrl.addItem()">
                    <fieldset>
                        <div class="modal-body">
                            <!-- "global" error for addItem -->
                            <div class="form-group" ng-class="{'has-error' : addKeyPairCtrl.item.errors.global}">
                                <span class="alert alert-danger"
                                      ng-show="addKeyPairCtrl.item.errors.global"> {{addKeyPairCtrl.item.errors.global}} </span>
                            </div>
                            <!-- item.name group -->
                            <div class="form-group" ng-class="{'has-error' : addKeyPairCtrl.item.errors.name }">
                                <div class="form-line"
                                     ng-class="{'focused error' : addKeyPairCtrl.item.errors.name }">
                                    <input class="form-control" type="text"
                                           placeholder="Name *" ng-model="addKeyPairCtrl.item.name"/>
                                </div>
                                <span class="help-block"
                                      ng-show="addKeyPairCtrl.item.errors.name">{{addKeyPairCtrl.item.errors.name}}</span>
                            </div>
                            <!-- item.publicKey group -->
                            <div class="form-group" ng-class="{'has-error' : addKeyPairCtrl.item.errors.publicKey }">
                                <div class="form-line"
                                     ng-class="{'focused error' : addKeyPairCtrl.item.errors.publicKey }">
                                   <textarea class="form-control" type="text"
                                             placeholder="Public RSA key" ng-model="addKeyPairCtrl.item.publicKey"
                                             rows="4"></textarea>
                                </div>
                                <span class="help-block"
                                      ng-show="addKeyPairCtrl.item.errors.publicKey">{{addKeyPairCtrl.item.errors.publicKey}}</span>
                            </div>
                            <!-- item.privateKey group -->
                            <div class="form-group" ng-class="{'has-error' : addKeyPairCtrl.item.errors.privateKey }">
                                <div class="form-line"
                                     ng-class="{'focused error' : addKeyPairCtrl.item.errors.privateKey }">
                                   <textarea class="form-control" type="text"
                                             placeholder="Private RSA key *" ng-model="addKeyPairCtrl.item.privateKey"
                                             rows="4"></textarea>
                                </div>
                                <span class="help-block"
                                      ng-show="addKeyPairCtrl.item.errors.privateKey">{{addKeyPairCtrl.item.errors.privateKey}}</span>
                            </div>
                            <span class="help-block" style="font-style: italic">Fields with * are mandatory.</span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary m-t-0 waves-effect" data-dismiss="modal">
                                Close
                            </button>
                            <button type="submit" class="btn btn-primary m-t-0 waves-effect">Register</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <!-- #END# Modal -->

    <!-- Modal -->
    <div class="modal fade" id="generateKeyPairModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Generate a new key pair
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h5>
                </div>
                <form ng-submit="ctrl.generateKeyPair()">
                    <fieldset>
                        <div class="modal-body">
                            <!-- item.name group -->
                            <div class="form-group" ng-class="{'has-error' : ctrl.generation.error }">
                                <div class="form-line"
                                     ng-class="{'focused error' : ctrl.generation.error }">
                                    <input class="form-control" type="text"
                                           placeholder="Name *" ng-model="ctrl.generation.name"/>
                                </div>
                                <span class="help-block"
                                      ng-show="ctrl.generation.error">{{ctrl.generation.error}}</span>
                            </div>
                            <span class="help-block" style="font-style: italic">Fields with * are mandatory.</span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary m-t-0 waves-effect" data-dismiss="modal">
                                Close
                            </button>
                            <button type="submit" class="btn btn-primary m-t-0 waves-effect">Generate</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <!-- #END# Modal -->

    <!-- Modal -->
    <div class="modal fade" id="showPublicKeyModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Public key
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h5>
                </div>
                <form>
                    <fieldset>
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="form-line">
                                    <textarea class="form-control" type="text" ng-model="ctrl.publicKeyDisplay"
                                              rows="8" onclick="this.select()"></textarea>
                                </div>
                            </div>
                            <span class="text-success" ng-show="ctrl.copiedPublicKey">
                                <i class="material-icons" style="vertical-align:bottom;">done</i>&nbsp;
                                Copied public key to clipboard.
                            </span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary m-t-0 waves-effect" data-dismiss="modal">
                                Close
                            </button>
                            <button type="button" class="btn btn-primary m-t-0 waves-effect"
                                    ng-click="ctrl.copyPublicKeyToClipboard()">Copy to Clipboard
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <!-- #END# Modal -->
</div>
