<div>
    <!-- List Card -->
    <div class="col-lg-12">
        <div class="card">
            <div class="header">
                <div class="col-lg-6">
                    <h2>Rule Definitions
                        <small>Rules for your IoT environments</small></h2>
                </div>
                <div class="align-right">
                    <button id="add-button" type="button"
                            class="btn bg-blue btn-circle waves-effect waves-circle waves-float" data-toggle="modal"
                            data-target="#addRuleModal" data-backdrop="static" data-keyboard="false">
                        <i class="material-icons">add</i>
                    </button>
                </div>
            </div>
            <div class="body">
                <div class="row">
                    <div class="col-lg-8"></div>
                    <div class="col-lg-4">
                        <div class="form-group list-filter">
                            <div class="input-group">
                                <div class="form-line">
                                    <input class="form-control ng-pristine ng-valid ng-touched"
                                           type="text" placeholder="Filter by name..."
                                           ng-model="ruleListCtrl.filterTerm">
                                </div>
                                <span class="input-group-addon">
                                    <button type="button" class="list-filter-clear"
                                            ng-show="ruleListCtrl.filterTerm.length > 0"
                                            ng-click="ruleListCtrl.filterTerm = ''">
                                        <i class="material-icons">clear</i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-hover" st-table="displayedCollection" st-safe-src="ruleListCtrl.items">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th class="align-center">Condition</th>
                        <th class="align-center">Actions</th>
                        <th class="align-center">Times Triggered</th>
                        <th class="align-center">Last</th>
                        <th class="align-center">Result</th>
                        <th class="align-center">Active</th>
                        <th class="align-center">Owner</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="{{rule.id}}" ng-repeat="rule in displayedCollection | filter:ruleListCtrl.nameFilter" ng-if="rule.name.indexOf('RERUN_') === -1">
                        <td>
                            {{rule.name}}
                        </td>
                        <td class="align-center">
                            {{rule.triggerName}}
                        </td>
                        <td class="align-center">
                            {{rule.actionNames.join(", ")}}
                        </td>
                        <td class="align-center">
                            {{rule.executions}}
                        </td>
                        <td class="align-center">
                            {{rule.lastExecution ? rule.lastExecution : "Never"}}
                        </td>
                        <td class="align-center">
                            <div ng-switch="rule.lastExecutionResult">
                                <div ng-switch-when="SUCCESS">
                                    <span class="label label-success">Success</span>
                                </div>
                                <div ng-switch-when="FAILURE">
                                    <span class="label label-danger">Failure</span>
                                </div>
                                <div ng-switch-default>
                                    <span class="label label-default">None</span>
                                </div>
                            </div>
                        </td>
                        <td class="align-center">
                            <div class="switch">
                                <label>
                                    <input type="checkbox" ng-model="rule.enabled" ng-change="rule.onToggle()">
                                    <span class="lever"></span>
                                </label>
                            </div>
                        </td>
                        <td class="align-center">{{rule.ownerName ? rule.ownerName : "None"}}</td>
                        <td>
                            <form ng-submit="deleteRuleCtrl.deleteItem()"
                                  style="display: inline-block">
                                <button type="submit"
                                        class="btn bg-red btn-circle waves-effect waves-circle waves-float"
                                        ng-click="deleteRuleCtrl.item.id = rule.id">
                                    <i class="material-icons" style="font-size:14px;">delete</i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    <tr ng-show="ruleListCtrl.items.length === 0">
                        <td>No rules registered.</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td class="text-center" st-pagination="" st-items-by-page="10" colspan="4"></td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addRuleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Register a new rule
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h5>
                </div>
                <form id="addRuleForm" ng-submit="addRuleCtrl.addItem()">
                    <fieldset>
                        <div class="modal-body">
                            <!-- "global" error for addItem -->
                            <div class="form-group" ng-class="{'has-error' : addRuleCtrl.item.errors.global}">
			                    <span class="alert alert-danger" ng-show="addRuleCtrl.item.errors.global">
			                      {{addRuleCtrl.item.errors.global}}
			                    </span>
                            </div>
                            <!-- item.name group -->
                            <div class="form-group" ng-class="{'has-error' : addRuleCtrl.item.errors.name }">
                                <div class="form-line" ng-class="{'focused error' : addRuleCtrl.item.errors.name }">
                                    <input class="form-control" type="text" placeholder="Name *"
                                           ng-model="addRuleCtrl.item.name"/>
                                </div>
                                <span class="help-block"
                                      ng-show="addRuleCtrl.item.errors.name">{{addRuleCtrl.item.errors.name}}</span>
                            </div>
                            <!-- item.trigger group -->
                            <div class="form-group" ng-class="{'has-error' : addRuleCtrl.item.errors.trigger }">
                                <div class="form-line"
                                     ng-class="{'focused error' : addRuleCtrl.item.errors.trigger }">
                                    <select class="form-control selectpicker show-tick" title="Condition *"
                                            data-header="Condition *"
                                            ng-model="addRuleCtrl.item.trigger"
                                            ng-options="t.id as (t.name) for t in ctrl.ruleTriggerList">
                                        <option value="" selected></option>
                                    </select>
                                </div>
                                <span class="help-block"
                                      ng-show="addRuleCtrl.item.errors.trigger">{{addRuleCtrl.item.errors.trigger}}</span>
                            </div>
                            <!-- item.actions group -->
                            <div class="form-group" ng-class="{'has-error' : addRuleCtrl.item.errors.actions }">
                                <div class="form-line"
                                     ng-class="{'focused error' : addRuleCtrl.item.errors.actions }">
                                    <select class="form-control selectpicker" title="Rule actions *"
                                            data-header="Rule actions *"
                                            ng-options="action.id as (action.name) for action in ctrl.ruleActionList"
                                            ng-model="addRuleCtrl.item.actions" multiple>
                                    </select>
                                </div>
                                <span class="help-block"
                                      ng-show="addRuleCtrl.item.errors.actions">{{addRuleCtrl.item.errors.actions}}</span>
                            </div>
                            <span class="help-block" style="font-style: italic">Fields with * are mandatory.</span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary m-t-0 waves-effect" data-dismiss="modal">
                                Close
                            </button>
                            <button type="submit" class="btn btn-primary m-t-0 waves-effect">Register</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>