<div class="row clearfix">
    <!-- Sensor Properties Card -->
    <div class="col-lg-6">
        <div class="card deployment-card">
            <div class="header"
                 ng-class="{'bg-red': componentDetailsCtrl.deploymentState=='NOT_READY', 'bg-green': componentDetailsCtrl.deploymentState=='READY', 'bg-teal': componentDetailsCtrl.deploymentState=='DEPLOYED', 'bg-cyan': componentDetailsCtrl.deploymentState=='RUNNING', 'bg-grey': componentDetailsCtrl.deploymentState=='UNKNOWN'}">
                <i class="material-icons" style="position: absolute; margin-top: 4px">settings_remote</i>
                <h2 style="margin-left: 35px;">
                    {{componentDetailsCtrl.component.name}}
                    <small>{{componentDetailsCtrl.deploymentState == 'NOT_READY' ? 'Unavailable' :
                            (componentDetailsCtrl.deploymentState == 'READY' ? 'Ready for installation' :
                                    (componentDetailsCtrl.deploymentState == 'DEPLOYED' ? 'Installed' :
                                            (componentDetailsCtrl.deploymentState == 'RUNNING' ? 'Running' :
                                                    (componentDetailsCtrl.deploymentState == 'UNKNOWN' ? 'Unknown state' : 'Loading...'))))}}
                    </small>
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li>
                        <a ng-click="componentDetailsCtrl.updateDeploymentState()" class="clickable">
                            <i class="material-icons">refresh</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="body">
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <th>Sensor type:</th>
                        <td>{{componentDetailsCtrl.component.componentType}}</td>
                    </tr>
                    <tr>
                        <th>Operator:</th>
                        <td>{{componentDetailsCtrl.component.operator.name}}</td>
                    </tr>
                    <tr>
                        <th>Unit:</th>
                        <td>{{componentDetailsCtrl.component.operator.unit ?
                                componentDetailsCtrl.component.operator.unit : 'None'}}
                        </td>
                    </tr>
                    <tr>
                        <th>Device:</th>
                        <td>{{componentDetailsCtrl.component.device.name}} (IP:
                            {{componentDetailsCtrl.component.device.ipAddress}})
                        </td>
                    </tr>
                    <tr>
                        <th>Device state:</th>
                        <td>
                            <div ng-switch="componentDetailsCtrl.deviceState"
                                 ng-click="componentDetailsCtrl.updateDeviceState()" class="clickable">
                                <div ng-switch-when="LOADING">
                                    <div class="preloader pl-size-xs">
                                        <div class="spinner-layer pl-blue">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-switch-when="OFFLINE">
                                    <span class="label label-danger">Unavailable</span>
                                </div>
                                <div ng-switch-when="ONLINE">
                                    <span class="label label-warning">Not connected</span>
                                </div>
                                <div ng-switch-when="SSH_AVAILABLE">
                                    <span class="label label-success">Connected</span>
                                </div>
                                <div ng-switch-default>
                                    <span class="label label-default">Unknown</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br/>
                <h5>Start parameters</h5>
                <table class="table parameter-table">
                    <thead></thead>
                    <tbody>
                    <tr ng-repeat="parameter in componentDetailsCtrl.component.operator.parameters">
                        <td>
                            <label>{{parameter.name}}:</label><br/>
                            <small ng-show="parameter.mandatory">(required)</small>
                        </td>
                        <td>
                            <div ng-switch="parameter.type">
                                <div ng-switch-when="Text">
                                    <input class="form-control" type="text"
                                           ng-required="parameter.mandatory"
                                           ng-model="componentDetailsCtrl.parameterValues[$index].value"/>
                                </div>
                                <div ng-switch-when="Number">
                                    <input class="form-control" type="number"
                                           ng-required="parameter.mandatory"
                                           ng-model="componentDetailsCtrl.parameterValues[$index].value"/>
                                </div>
                                <div class="switch" ng-switch-when="Switch">
                                    <label>No
                                        <input type="checkbox"
                                               ng-model="componentDetailsCtrl.parameterValues[$index].value">
                                        <span class="lever"></span>Yes</label>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span class="label bg-grey" ng-show="parameter.unit">{{parameter.unit}}</span>
                        </td>
                    </tr>
                    <tr ng-show="componentDetailsCtrl.component.operator.parameters.length === 0">
                        <td colspan="2">No required parameters</td>
                    </tr>
                    </tbody>
                </table>
                <div class="has-error" ng-show="ctrl.deployer.status.fieldErrors.parameters">
                    <span class="help-block focused error">{{ctrl.deployer.status.fieldErrors.parameters}}</span>
                </div>
                <br/>

                <div>
                    <span ng-show="componentDetailsCtrl.deploymentState=='READY'">
                        <button class="btn bg-mbp-mid-blue waves-effect" ng-click="componentDetailsCtrl.deploy()">
                            <i class="material-icons">file_download</i>
                            <span>Install operator</span>
                        </button>
                    </span>
                    <span ng-show="componentDetailsCtrl.deploymentState=='DEPLOYED'">
                        <button class="btn bg-mbp-mid-blue waves-effect"
                                ng-click="componentDetailsCtrl.startComponent()">
                            <i class="material-icons">play_arrow</i>
                            <span>Start operator</span>
                        </button>
                    </span>
                    <span ng-show="componentDetailsCtrl.deploymentState=='RUNNING'">
                        <button class="btn bg-mbp-mid-blue waves-effect"
                                ng-click="componentDetailsCtrl.stopComponent()">
                            <i class="material-icons">stop</i>
                            <span>Stop operator</span>
                        </button>
                    </span>
                    <span ng-show="['DEPLOYED', 'RUNNING'].includes(componentDetailsCtrl.deploymentState)">
                        <button class="btn bg-mbp-mid-blue waves-effect" ng-click="componentDetailsCtrl.undeploy()">
                            <i class="material-icons">file_upload</i>
                            <span>Uninstall operator</span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- Sensor Stats Card -->
    <div class="col-lg-6">
        <div class="card stats-card">
            <div class="header">
                <i class="material-icons" style="position: absolute; margin-top: 4px">equalizer</i>
                <h2 style="margin-left: 35px;">Values Statistics
                    <small>Overview about received sensor values</small>
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li>
                        <a ng-click="valueLogStatsApi.updateStats()" class="clickable">
                            <i class="material-icons">refresh</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="body">
                <h5>Display unit</h5>
                <div class="form-group align-right">
                    <div class="form-line">
                        <unit-input ng-model="componentDetailsCtrl.displayUnitInput"
                                    unit-filter="{{componentDetailsCtrl.component.operator.unit}}"></unit-input>
                    </div>
                    <span class="help-block" ng-show="false"></span><br/>
                    <button class="btn btn-primary m-t-0 waves-effect" ng-click="ctrl.onDisplayUnitChange()">
                        Update
                    </button>
                </div>

                <value-log-stats api="valueLogStatsApi"
                                 loading-start="componentDetailsCtrl.valueLogStats.loadingStart()"
                                 loading-finish="componentDetailsCtrl.valueLogStats.loadingFinish()"
                                 get-stats="componentDetailsCtrl.valueLogStats.getStats(unit)"
                                 unit="{{componentDetailsCtrl.displayUnit}}">
                </value-log-stats>
                <div style="height: 20px"></div>

                <button class="btn btn-danger waves-effect" ng-click="componentDetailsCtrl.deleteValueLogs()">
                    <i class="material-icons">delete</i>Delete all sensor values
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Live Values Card -->
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card live-chart-card animate-show-hide" ng-show="componentDetailsCtrl.deploymentState=='RUNNING'">
            <div class="header">
                <i class="material-icons" style="position: absolute; margin-top: 1px">live_tv</i>
                <h2 style="margin-left: 35px;">Live Chart</h2>
            </div>
            <div class="body">
                <live-chart loading-start="componentDetailsCtrl.liveChart.loadingStart()"
                            loading-finish="componentDetailsCtrl.liveChart.loadingFinish()"
                            get-data="componentDetailsCtrl.liveChart.getData(numberLogs, descending, unit)"
                            is-updateable="componentDetailsCtrl.liveChart.isUpdateable()"
                            unit="{{componentDetailsCtrl.displayUnit}}">
                </live-chart>
            </div>
        </div>
    </div>
</div>

<!-- Historical Values Card -->
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card historical-chart-card">
            <div class="header">
                <i class="material-icons" style="position: absolute; margin-top: 1px">access_time</i>
                <h2 style="margin-left: 35px;">Historical Chart</h2>
                <ul class="header-dropdown m-r--5">
                    <li>
                        <a ng-click="historicalChartApi.updateChart()" class="clickable">
                            <i class="material-icons">refresh</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="body">
                <historical-chart api="historicalChartApi"
                                  loading-start="componentDetailsCtrl.historicalChart.loadingStart()"
                                  loading-finish="componentDetailsCtrl.historicalChart.loadingFinish()"
                                  get-data="componentDetailsCtrl.historicalChart.getData(numberLogs, descending, unit, startTime, endTime)"
                                  unit="{{componentDetailsCtrl.displayUnit}}">
                </historical-chart>
            </div>
        </div>
    </div>
</div>