<div class="row clearfix" ng-hide="ng-hide">
  <!-- List of Actuators Card -->
  <div class="col-lg-7">
    <div class="card">
      <div class="header">
        <h2>
          List of actuators
        </h2>
      </div>
      <div class="body">
        <table class="table table-hover" st-table="displayedCollection" st-safe-src="actuatorListCtrl.items">
          <thead>
            <tr>
              <th>Name</th>
              <th>Actuator type</th>
              <th>Adapter</th>
              <th>Device</th>
              <th>ID</th>
            </tr>
          </thead>
          <tbody>
            <tr id="{{item.id}}" ng-repeat="item in displayedCollection">
              <td>
                <a ng-href="{{detailsLink(item)}}">{{item.name}}</a>
              </td>
              <td>{{item.componentType}}</td>
              <td>{{item._embedded.adapter.name}}</td>
              <td>{{item._embedded.device.name}}</td>
              <td>
                <form ng-submit="deleteActuatorCtrl.deleteItem()">
                  <div ng-model="deleteActuatorCtrl.item.id">
                    {{item.id}}
                  </div>
                  <button type="submit" class="btn btn-primary m-t-15 waves-effect" ng-click="deleteActuatorCtrl.item.id = item.id">
                    Delete
                  </button>
                </form>
              </td>
            </tr>
            <tr ng-show="actuatorListCtrl.items.length === 0">
              <td>No actuators registered yet.</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td class="text-center" st-pagination="" st-items-by-page="5" colspan="4"></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
  <!-- #END# List of Actuators Card -->

  <!-- Register Actuators Card -->
  <div class="col-lg-5">
    <div class="card">
      <div class="header">
        <h2>
          Register
        </h2>
      </div>
      <div class="body">
        <div ng-disabled="ctrl.registeringDevice">
          <form ng-submit="addActuatorCtrl.addItem()">
            <fieldset id="actuator-form">
              <h2 class="card-inside-title">New actuator</h2>
              <div class="row clearfix">
                <div class="col-xs-12">
                  <!-- "global" error for addItem -->
                  <div class="form-group" ng-class="{'has-error' : addActuatorCtrl.item.errors.global}">
                    <span class="alert alert-danger" ng-show="addActuatorCtrl.item.errors.global">
                      {{addActuatorCtrl.item.errors.global}}
                    </span>
                  </div>
                  <!-- item.name group -->
                  <div class="form-group" ng-class="{'has-error' : addActuatorCtrl.item.errors.name }">
                    <div class="form-line" ng-class="{'focused error' : addActuatorCtrl.item.errors.name }">
                      <input class="form-control" id="actuator-form-input-name" type="text" placeholder="Name" ng-model="addActuatorCtrl.item.name"/>
                    </div>
                    <span class="help-block" ng-show="addActuatorCtrl.item.errors.name">{{addActuatorCtrl.item.errors.name.message}}</span>
                  </div>
                  <!-- item.componentType group -->
                  <div class="form-group" ng-class="{'has-error' : addActuatorCtrl.item.errors.componentType }">
                    <div class="form-line" ng-class="{'focused error' : addActuatorCtrl.item.errors.componentType }">
                      <select class="form-control show-tick" id="actuator-form-select-component-type" ng-model="addActuatorCtrl.item.componentType">
                        <option value="">Select actuator type</option>
                        <option ng-repeat="type in ctrl.actuatorTypes" value="{{type.name}}">{{type.name}}</option>
                      </select>
                    </div>
                    <span class="help-block" ng-show="addActuatorCtrl.item.errors.componentType">{{addActuatorCtrl.item.errors.componentType.message}}</span>
                  </div>
                  <!-- item.adapter group -->
                  <div class="form-group" ng-class="{'has-error' : addActuatorCtrl.item.errors.adapter }">
                    <div class="form-line" ng-class="{'focused error' : addActuatorCtrl.item.errors.adapter }">
                      <select class="form-control show-tick" id="actuator-form-select-adapter" ng-model="addActuatorCtrl.item.adapter" ng-options="t._links.self.href as (t.name) for t in adapterListCtrl.items">
                        <option value="">Select adapter<option/>
                        </select>
                      </div>
                      <span class="help-block" ng-show="addActuatorCtrl.item.errors.adapter">{{addActuatorCtrl.item.errors.adapter.message}}</span>
                    </div>
                  </div>
                  <div class="col-xs-9">
                    <!-- item.device group -->
                    <div class="form-group" ng-class="{'has-error' : addActuatorCtrl.item.errors.device }">
                      <div class="form-line" ng-class="{'focused error' : addActuatorCtrl.item.errors.device }">
                        <select class="form-control show-tick" id="actuator-form-select-device" ng-model="addActuatorCtrl.item.device" ng-options="d._links.self.href as (d.name +    ' - ' +    d.formattedMacAddress) for d in deviceListCtrl.items">
                          <option value="">Select device<option/>
                          </select>
                        </div>
                        <span class="help-block" ng-show="addActuatorCtrl.item.errors.device">{{addActuatorCtrl.item.errors.device.message}}</span>
                      </div>
                    </div>
                    <div class="col-xs-3">
                      <!-- add device button -->
                      <div class="form-group align-right">
                        <button id="toggle-device-form" type="button" class="btn bg-light-green btn-circle waves-effect waves-circle waves-float" ng-click="ctrl.registeringDevice = true">
                          <i class="material-icons">add_to_queue</i>
                        </button>
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <!-- buttons -->
                      <div class="form-group align-right">
                        <button type="submit" class="btn btn-primary m-t-15 waves-effect">
                          Register
                        </button>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
            <div ng-show="ctrl.registeringDevice">
              <form ng-submit="addDeviceCtrl.addItem()">
                <fieldset id="device-form">
                  <h2 class="card-inside-title">New device</h2>
                  <div class="row clearfix">
                    <div class="col-xs-12">
                      <!-- "global" error for addItem -->
                      <div class="form-group" ng-class="{'has-error' : addDeviceCtrl.item.errors.global}">
                        <span class="alert alert-danger" ng-show="addDeviceCtrl.item.errors.global">
                          {{addDeviceCtrl.item.errors.global}}
                        </span>
                      </div>
                      <!-- item.name group -->
                      <div class="form-group" ng-class="{'has-error' : addDeviceCtrl.item.errors.name }">
                        <div class="form-line" ng-class="{'focused error' : addDeviceCtrl.item.errors.name }">
                          <input class="form-control" id="device-form-input-name" type="text" placeholder="Name" ng-model="addDeviceCtrl.item.name"/>
                        </div>
                        <span class="help-block" ng-show="addDeviceCtrl.item.errors.name">{{addDeviceCtrl.item.errors.name.message}}</span>
                      </div>
                      <!-- item.macAddress group -->
                      <div class="form-group" ng-class="{'has-error' : addDeviceCtrl.item.errors.macAddress }">
                        <div class="form-line" ng-class="{'focused error' : addDeviceCtrl.item.errors.macAddress }">
                          <input class="form-control mac-address" id="device-form-input-macAddress" type="text" placeholder="Mac Address" ng-model="addDeviceCtrl.item.formattedMacAddress"/>
                        </div>
                        <span class="help-block" ng-show="addDeviceCtrl.item.errors.macAddress">{{addDeviceCtrl.item.errors.macAddress.message}}</span>
                      </div>
                      <!-- item.ipAddress group -->
                      <div class="form-group" ng-class="{'has-error' : addDeviceCtrl.item.errors.ipAddress }">
                        <div class="form-line" ng-class="{'focused error' : addDeviceCtrl.item.errors.ipAddress }">
                          <input class="form-control" id="device-form-input-ipAddress" type="text" placeholder="IP address" ng-model="addDeviceCtrl.item.ipAddress"/>
                        </div>
                        <p class="help-block">IP address is optional and will be overwritten once the system finds the device.</p>
                        <span class="help-block" ng-show="addDeviceCtrl.item.errors.ipAddress">{{addDeviceCtrl.item.errors.ipAddress.message}}</span>
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <!-- buttons -->
                      <div class="form-group align-right">
                        <button type="button" class="btn btn-default m-t-15 waves-effect" ng-click="ctrl.registeringDevice = false">
                          Cancel
                        </button>
                        <button type="submit" class="btn btn-primary m-t-15 waves-effect">
                          Register
                        </button>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- #END# Register Actuators Card -->
    </div>