<div class="row clearfix">
    <!-- Device Details Card -->
    <div class="col-lg-5">
        <div class="card details-card">
            <div class="header"
                 ng-class="{'bg-red': ctrl.deviceState=='OFFLINE', 'bg-orange': ctrl.deviceState=='ONLINE', 'bg-green': ctrl.deviceState=='SSH_AVAILABLE', 'bg-grey': ctrl.deviceState=='UNKNOWN'}">
                <i class="material-icons" style="position: absolute; margin-top: 4px">devices</i>
                <h2 style="margin-left: 35px;">
                    {{ctrl.device.name}}
                    <small>{{ctrl.deviceState=='OFFLINE' ? 'Unavailable' :
                        (ctrl.deviceState=='ONLINE' ? 'Not connected':
                        (ctrl.deviceState=='SSH_AVAILABLE' ? 'Connected' :
                        (ctrl.deviceState=='UNKNOWN' ? 'Unknown state' : 'Loading...')))}}
                    </small>
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li>
                        <a ng-click="ctrl.updateDeviceState()" class="clickable">
                            <i class="material-icons">refresh</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="body">
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <th>Device type:</th>
                        <td>{{ctrl.device.componentType}}</td>
                    </tr>
                    <tr ng-hide="(ctrl.device.macAddress==null) || (ctrl.device.macAddress=='')">
                        <th>MAC address:</th>
                        <td>{{ctrl.device.macAddress}}</td>
                    </tr>
                    <tr>
                        <th>IP address:</th>
                        <td>{{ctrl.device.ipAddress}}</td>
                    </tr>
                    <tr>
                        <th>User name:</th>
                        <td>{{ctrl.device.username}}</td>
                    </tr>
                    <tr>
                        <th>Password:</th>
                        <td>{{ctrl.device.usesPassword ? 'Yes' : 'No'}}</td>
                    </tr>
                    <tr>
                        <th>RSA key:</th>
                        <td>{{ctrl.device.usesRSAKey ? 'Yes' : 'No'}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Monitoring Control Card -->
    <div class="col-lg-7">
        <div class="card control-card">
            <div class="header">
                <h2>
                    Available monitoring operators
                    <small>Enable or disable monitoring for this device</small>
                </h2>
            </div>
            <div class="body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Unit</th>
                        <th>Parameters</th>
                        <th class="align-center">State</th>
                        <th class="align-center">Enable</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="operator in ctrl.compatibleOperators" id="operator-{{operator.id}}">
                        <td>{{operator.name}}</td>
                        <td>{{operator.unit}}</td>
                        <td>
                            <table class="table parameter-table" ng-show="operator.parameters.length > 0">
                                <tbody>
                                <tr ng-repeat="parameter in operator.parameters">
                                    <td>
                                        <label>{{parameter.name}}:</label><br/>
                                        <small ng-show="parameter.mandatory">(required)</small>
                                    </td>
                                    <td>
                                        <div ng-switch="parameter.type">
                                            <div ng-switch-when="Text">
                                                <input class="form-control" type="text"
                                                       ng-disabled="(operator.state == 'RUNNING') || (operator.state == 'LOADING')"
                                                       ng-required="parameter.mandatory"
                                                       ng-model="ctrl.parameterValues[$parent.$parent.$index][$index].value"/>
                                            </div>
                                            <div ng-switch-when="Number">
                                                <input class="form-control" type="number"
                                                       ng-disabled="(operator.state == 'RUNNING') || (operator.state == 'LOADING')"
                                                       ng-required="parameter.mandatory"
                                                       ng-model="ctrl.parameterValues[$parent.$parent.$index][$index].value"/>
                                            </div>
                                            <div class="switch" ng-switch-when="Switch">
                                                <label>No
                                                    <input type="checkbox"
                                                           ng-disabled="(operator.state == 'RUNNING') || (operator.state == 'LOADING')"
                                                           ng-model="ctrl.parameterValues[$parent.$parent.$index][$index].value">
                                                    <span class="lever"></span>Yes</label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="label bg-grey" ng-show="parameter.unit">{{parameter.unit}}</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <span ng-show="operator.parameters.length == 0">None</span>
                        </td>
                        <td class="align-center">
                            <div ng-switch="operator.state" ng-click="operator.reloadState()" class="clickable">
                                <div ng-switch-when="LOADING">
                                    <div class="preloader pl-size-xs">
                                        <div class="spinner-layer pl-blue">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-switch-when="NOT_READY">
                                    <span class="label label-danger">Not ready</span>
                                </div>
                                <div ng-switch-when="READY">
                                    <span class="label label-success">Ready</span>
                                </div>
                                <div ng-switch-when="RUNNING">
                                    <span class="label label-info">Running</span>
                                </div>
                                <div ng-switch-default>
                                    <span class="label label-default">Unknown</span>
                                </div>
                            </div>
                        </td>
                        <td class="align-center">
                            <div class="switch">
                                <label>
                                    <input type="checkbox" ng-model="operator.enable"
                                           ng-change="operator.onMonitoringToggle()"
                                           ng-disabled="(operator.state!='READY') && (operator.state!='RUNNING')">
                                    <span class="lever"></span>
                                </label>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Chart cards -->
<div ng-repeat="operator in ctrl.compatibleOperators">
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card historical-chart-card">
                <div class="header">
                    <h2>
                        {{operator.name}}
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <li>
                            <a class="clickable"
                               ng-click="operator.historicalChartApi.updateChart(); operator.valueLogStatsApi.updateStats();">
                                <i class="material-icons">refresh</i>
                            </a>
                        </li>
                        <!--
                        <li>
                            <a class="clickable" ng-click="operator.deleteValueLogs()">
                                <i class="material-icons">delete</i>
                            </a>
                        </li>-->
                        <li>
                            <a class="clickable" data-toggle="collapse" data-target="#card-body-{{operator.id}}">
                                <i class="material-icons">keyboard_arrow_down</i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="body collapse in" id="card-body-{{operator.id}}">
                    <div class="form-group align-right" style="margin-bottom: 10px">
                        <div class="form-line">
                            <unit-input ng-model="operator.displayUnitInput"
                                        unit-filter="{{operator.unit}}"></unit-input>
                        </div>
                        <span class="help-block" ng-show="false"></span>
                        <button class="btn btn-primary m-t-0 waves-effect" ng-click="operator.onDisplayUnitChange()"
                                style="margin-top: 5px">
                            Update
                        </button>
                    </div>
                    <ul class="nav nav-tabs tab-nav-right" role="tablist">
                        <li role="presentation" ng-show="operator.state == 'RUNNING'">
                            <a data-target="#live-chart-{{operator.id}}"
                               ng-attr-data-toggle="{{operator.state == 'RUNNING' ? 'tab' : '' }}">
                                <i class="material-icons">live_tv</i>&nbsp;Live Chart
                            </a>
                        </li>
                        <li role="presentation" class="active" ng-click="operator.historicalChartApi.updateChart()">
                            <a data-target="#historical-chart-{{operator.id}}" data-toggle="tab">
                                <i class="material-icons">access_time</i>&nbsp;Historical Chart
                            </a>
                        </li>
                        <li role="presentation" ng-click="operator.valueLogStatsApi.updateStats()">
                            <a data-target="#value-stats-{{operator.id}}" data-toggle="tab">
                                <i class="material-icons">equalizer</i>&nbsp;Value Statistics
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade" id="live-chart-{{operator.id}}">
                            <br/>
                            <live-chart is-updateable="operator.isUpdateable()"
                                        loading-start="operator.loadingLive.start()"
                                        loading-finish="operator.loadingLive.finish()"
                                        get-data="operator.getData(numberLogs, descending, unit)"
                                        unit="{{operator.displayUnit}}"
                                        json-path={{"{\"value\":{\"path\":\"$['value']\"}"+"}"}}
                                        field-collection-id="default">
                            </live-chart>
                        </div>
                        <div role="tabpanel" class="tab-pane fade in active" id="historical-chart-{{operator.id}}">
                            <br/>
                            <historical-chart api="operator.historicalChartApi"
                                              loading-start="operator.loadingHistorical.start()"
                                              loading-finish="operator.loadingHistorical.finish()"
                                              get-data="operator.getData(numberLogs, descending, unit)"
                                              unit="{{operator.displayUnit}}"
                                              json-path={{"{\"value\":{\"path\":\"$['value']\"}"+"}"}}
                                              field-collection-id="default">
                            </historical-chart>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="value-stats-{{operator.id}}">
                            <value-log-stats api="operator.valueLogStatsApi"
                                             loading-start="operator.loadingStats.start()"
                                             loading-finish="operator.loadingStats.finish()"
                                             get-stats="operator.getStats(unit)"
                                             unit="{{operator.displayUnit}}">
                            </value-log-stats>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>