<div>
    <!-- List Card -->
    <div class="col-lg-12">
        <div class="card">
            <div class="header">
                <div class="col-lg-6">
                    <h2><span style="height: 50px">Device templates</span>
                        <small>Template definitions for the discovery and selection of matching IoT devices.</small>
                    </h2>
                </div>
            </div>
            <div class="body">
                <div class="discovery-template-menu">
                    <canvas></canvas>
                    <button type="button"
                            class="btn btn-circle waves-effect waves-circle waves-float m-t-0 bubble-item bubble-devices">
                    </button>
                    <button type="button"
                            class="btn btn-circle waves-effect waves-circle waves-float m-t-0 bubble-item bubble-locations">
                    </button>
                    <button type="button"
                            class="btn btn-circle waves-effect waves-circle waves-float m-t-0 bubble-item bubble-identifiers">
                    </button>
                    <button type="button"
                            class="btn btn-circle waves-effect waves-circle waves-float m-t-0 bubble-item bubble-capabilities">
                    </button>
                    <button type="button"
                            class="btn btn-circle waves-effect waves-circle waves-float m-t-0 bubble-item bubble-context">
                    </button>
                    <button type="button"
                            class="btn btn-circle waves-effect waves-circle waves-float m-t-0 bubble-item bubble-attachments">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>