<div>
    <!-- List Card -->
    <div class="col-lg-12">
        <div class="card">
            <div class="header">
                <div class="col-lg-6">
                    <h2><span style="height: 50px">Device templates</span>
                        <small>Template definitions for the discovery and selection of matching IoT devices.</small>
                    </h2>
                </div>
            </div>
            <div class="body">
                <div class="discovery-template-menu">
                    <div class="bubble-item bubble-devices">
                        <button type="button" data-toggle="collapse" data-target="#edit-devices"
                                class="btn btn-circle waves-effect waves-circle waves-float m-t-0">
                        </button>
                    </div>
                    <div class="bubble-item bubble-locations">
                        <button type="button" data-toggle="collapse" data-target="#edit-locations"
                                class="btn btn-circle waves-effect waves-circle waves-float m-t-0">
                        </button>
                        <div class="bubble-badge">25</div>
                        <div class="bubble-connector"></div>
                    </div>
                    <div class="bubble-item bubble-identifiers">
                        <button type="button" data-toggle="collapse" data-target="#edit-identifiers"
                                class="btn btn-circle waves-effect waves-circle waves-float m-t-0">
                        </button>
                        <div class="bubble-badge">25</div>
                        <div class="bubble-connector"></div>
                    </div>
                    <div class="bubble-item bubble-capabilities">
                        <button type="button" data-toggle="collapse" data-target="#edit-capabilities"
                                class="btn btn-circle waves-effect waves-circle waves-float m-t-0">
                        </button>
                        <div class="bubble-badge">25</div>
                        <div class="bubble-connector"></div>
                    </div>
                    <div class="bubble-item bubble-context">
                        <button type="button" data-toggle="collapse" data-target="#edit-context"
                                class="btn btn-circle waves-effect waves-circle waves-float m-t-0">
                        </button>
                        <div class="bubble-badge">25</div>
                        <div class="bubble-connector"></div>
                    </div>
                    <div class="bubble-item bubble-attachments">
                        <button type="button" data-toggle="collapse" data-target="#edit-attachments"
                                class="btn btn-circle waves-effect waves-circle waves-float m-t-0">
                        </button>
                        <div class="bubble-badge">25</div>
                        <div class="bubble-connector"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="edit-templates-group">
        <div id="edit-devices" class="card collapse">
            <div class="header">
                <div class="col-lg-6">
                    <h2>
                        <i class="material-icons">devices</i>
                        Device templates
                    </h2>
                </div>
            </div>
            <div class="body">
                ASDF
            </div>
        </div>

        <div id="edit-locations" class="collapse">
            <div class="col-lg-4">
                <div class="card edit-templates-list">
                    <div class="header">
                        <div class="col-lg-8">
                            <h2>
                                <i class="material-icons">location_on</i>
                                Location templates
                                <small>Overview about the registered location templates.</small>
                            </h2>
                        </div>
                        <div class="align-right">
                            <button type="button"
                                    class="btn bg-mbp-blue btn-circle waves-effect waves-circle waves-float"
                                    ng-click="">
                                <i class="material-icons">add</i>
                            </button>
                        </div>
                    </div>
                    <div class="body">
                        <table class="table table-hover">
                            <thead>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Location 1</td>
                                <td>Point</td>
                                <td class="right">
                                    <button type="submit" class="btn btn-sm bg-mbp-blue waves-effect waves-float">
                                        <i class="material-icons" style="font-size:14px; color: white !important;">mode_edit</i>
                                    </button>
                                    <button type="submit" class="btn btn-sm bg-red waves-effect waves-float"
                                            ng-click="">
                                        <i class="material-icons" style="font-size:14px;">delete</i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>Location 2</td>
                                <td>Polygon</td>
                                <td class="right">
                                    <button type="submit" class="btn btn-sm bg-mbp-blue waves-effect waves-float">
                                        <i class="material-icons" style="font-size:14px; color: white !important;">mode_edit</i>
                                    </button>
                                    <button type="submit" class="btn btn-sm bg-red waves-effect waves-float"
                                            ng-click="">
                                        <i class="material-icons" style="font-size:14px;">delete</i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="header">
                        <h2 class="editable" ng-hide="location_name_edit" ng-click="location_name_edit=true;">
                            {{ctrl.locationInput.name}}
                            <i class="material-icons" style="font-size: 16px; margin-left: 5px;line-height: 15px;">mode_edit</i>
                        </h2>
                        <h2 ng-show="location_name_edit">
                            <form class="form-inline" ng-submit="location_name_edit=false;">
                                <div class="form-group">
                                    <div class="input-group form-line">
                                        <input type="text" class="form-control" ng-model="ctrl.locationInput.name"
                                               placeholder="Enter name..."/>
                                        <div class="input-group-btn"
                                             style="position:absolute; right:0; top:-10px; z-index: 5;">
                                            <button type="submit" class="btn btn-sm bg-grey m-t-15 waves-effect">
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </h2>
                    </div>
                    <div class="body">
                        <div class="container-fluid">
                            <div class="col-lg-3">
                                <form ng-submit="ctrl.saveLocation()">
                                    <label>Location type:</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <select class="form-control" ng-model="ctrl.locationInput.type"
                                                    ng-change="ctrl.onLocationTypeChange()">
                                                <option value="" selected="selected">Select...</option>
                                                <option value="Informal">Informal</option>
                                                <option value="Point">Point</option>
                                                <option value="Circle">Circle Area</option>
                                                <option value="Polygon">Polygon Area</option>
                                            </select>
                                        </div>
                                    </div>
                                    <small ng-show="ctrl.locationInput.type === 'Informal'">Location
                                        description...</small>
                                    <div class="form-group" ng-show="ctrl.locationInput.type === 'Informal'">
                                        <div class="form-line">
                                            <select class="form-control" ng-model="ctrl.locationInput.operator"
                                                    style="margin-bottom:0;">
                                                <option value="" selected="selected">Select...</option>
                                                <option value="equals">equals</option>
                                                <option value="contains">contains</option>
                                                <option value="begins">begins with</option>
                                                <option value="ends">ends with</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-show="ctrl.locationInput.type === 'Informal'">
                                        <div class="form-line">
                                            <input type="text" class="form-control"
                                                   ng-model="ctrl.locationInput.description"
                                                   placeholder="Enter match..."/>
                                        </div>
                                    </div>
                                    <small ng-show="ctrl.locationInput.type === 'Point'">You can either enter the
                                        coordinates below or pick the location on the map.</small>
                                    <div class="form-group" ng-show="ctrl.locationInput.type === 'Point'"
                                         style="margin-bottom:0;">
                                        <div class="form-line">
                                            <input type="number" class="form-control" placeholder="Latitude"
                                                   min="-90" max="90" step="0.000001"
                                                   ng-model="ctrl.locationInput.latitude"/>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-show="ctrl.locationInput.type === 'Point'"
                                         style="margin-bottom: 0;">
                                        <div class="form-line">
                                            <input type="number" class="form-control" placeholder="Longitude"
                                                   min="-180" max="180" step="0.000001"
                                                   ng-model="ctrl.locationInput.longitude"/>
                                        </div>
                                    </div>
                                    <button class="btn btn-block btn-xs btn-default m-t-15 waves-effect"
                                            ng-show="['Point', 'Circle', 'Polygon'].includes(ctrl.locationInput.type);"
                                            ng-click="ctrl.onLocationChange()" style="margin: 0;">
                                        <i class="material-icons">my_location</i>&nbsp;&nbsp;View
                                    </button>
                                    <br/>
                                    <button type="submit" class="btn btn-primary m-t-15 waves-effect">Save</button>
                                </form>
                            </div>
                            <div class="col-lg-9">
                                <location-sketcher-map height="400" api="ctrl.locationMapApi"
                                                       init-center="ctrl.mapInitCenter"
                                                       init-zoom="ctrl.mapInitZoom"
                                                       drawing-finished="ctrl.onDrawingFinished(geometry)">
                                </location-sketcher-map>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="edit-identifiers" class="card collapse">
            <div class="header">
                <div class="col-lg-6">
                    <h2>
                        <i class="material-icons">label</i>
                        Identifier templates
                    </h2>
                </div>
            </div>
            <div class="body">
                ASDF
            </div>
        </div>

        <div id="edit-capabilities" class="card collapse">
            <div class="header">
                <div class="col-lg-6">
                    <h2>
                        <i class="material-icons">list</i>
                        Capability templates
                    </h2>
                </div>
            </div>
            <div class="body">
                ASDF
            </div>
        </div>

        <div id="edit-context" class="card collapse">
            <div class="header">
                <div class="col-lg-6">
                    <h2>
                        <i class="material-icons">share</i>
                        Context templates
                    </h2>
                </div>
            </div>
            <div class="body">
                ASDF
            </div>
        </div>

        <div id="edit-attachments" class="card collapse">
            <div class="header">
                <div class="col-lg-6">
                    <h2>
                        <i class="material-icons">lightbulb_outline</i>
                        Attachment templates
                    </h2>
                </div>
            </div>
            <div class="body">
                ASDF
            </div>
        </div>
    </div>
</div>