<div>
    <!-- List Card -->
    <div class="col-lg-12">
        <div class="card">
            <div class="header">
                <div class="col-lg-6">
                    <h2><span style="height: 50px">Device templates</span>
                        <small>Template definitions for the discovery and selection of matching IoT devices.</small>
                    </h2>
                </div>
            </div>
            <div class="body">
                <div class="discovery-template-menu">
                    <div class="bubble-item bubble-devices">
                        <button type="button" data-toggle="collapse" data-target="#edit-devices"
                                class="btn btn-circle waves-effect waves-circle waves-float m-t-0">
                        </button>
                    </div>
                    <div class="bubble-item bubble-locations">
                        <button type="button" data-toggle="collapse" data-target="#edit-locations"
                                class="btn btn-circle waves-effect waves-circle waves-float m-t-0">
                        </button>
                        <div class="bubble-badge">{{locationTemplateListCtrl.items.length}}</div>
                        <div class="bubble-connector"></div>
                    </div>
                    <div class="bubble-item bubble-identifiers">
                        <button type="button" data-toggle="collapse" data-target="#edit-identifiers"
                                class="btn btn-circle waves-effect waves-circle waves-float m-t-0">
                        </button>
                        <div class="bubble-badge">25</div>
                        <div class="bubble-connector"></div>
                    </div>
                    <div class="bubble-item bubble-capabilities">
                        <button type="button" data-toggle="collapse" data-target="#edit-capabilities"
                                class="btn btn-circle waves-effect waves-circle waves-float m-t-0">
                        </button>
                        <div class="bubble-badge">25</div>
                        <div class="bubble-connector"></div>
                    </div>
                    <div class="bubble-item bubble-context">
                        <button type="button" data-toggle="collapse" data-target="#edit-context"
                                class="btn btn-circle waves-effect waves-circle waves-float m-t-0">
                        </button>
                        <div class="bubble-badge">25</div>
                        <div class="bubble-connector"></div>
                    </div>
                    <div class="bubble-item bubble-attachments">
                        <button type="button" data-toggle="collapse" data-target="#edit-attachments"
                                class="btn btn-circle waves-effect waves-circle waves-float m-t-0">
                        </button>
                        <div class="bubble-badge">25</div>
                        <div class="bubble-connector"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="edit-templates-group">
        <div id="edit-devices" class="collapse">
            <div class="col-lg-4">
                <div class="card edit-templates-list">
                    <div class="header">
                        <div class="col-lg-8">
                            <h2>
                                <i class="material-icons">devices</i>
                                Device templates
                                <small>Overview about the registered device templates.</small>
                            </h2>
                        </div>
                        <div class="align-right">
                            <button type="button"
                                    class="btn bg-mbp-blue btn-circle waves-effect waves-circle waves-float"
                                    ng-click="addDeviceTemplateCtrl.item = {'name': 'Unnamed', 'requirements': [], 'scoringCriteria': []}; ctrl.showDeviceTemplatesEditor();">
                                <i class="material-icons">add</i>
                            </button>
                        </div>
                    </div>
                    <div class="body">
                        <table class="table table-hover" st-table="deviceCollection"
                               st-safe-src="deviceTemplateListCtrl.items">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Reqs.</th>
                                <th>Scoring</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr id="{{device.id}}" ng-repeat="device in deviceCollection">
                                <td>{{device.name}}</td>
                                <td class="align-center">{{device.requirements.length}}</td>
                                <td class="align-center">{{device.scoringCriteria.length}}</td>
                                <td class="right">
                                    <!--
                                    <form ng-submit="ctrl.editDeviceTemplate(device.id)" style="display: inline-block">
                                        <button type="submit" class="btn btn-sm bg-mbp-blue waves-effect waves-float">
                                            <i class="material-icons" style="font-size:14px; color: white !important;">mode_edit</i>
                                        </button>
                                    </form>-->
                                    <form ng-submit="deleteDeviceTemplateCtrl.deleteItem()"
                                          style="display: inline-block">
                                        <button type="submit" class="btn btn-sm bg-red waves-effect waves-float"
                                                ng-click="deleteDeviceTemplateCtrl.item.id = device.id">
                                            <i class="material-icons" style="font-size:14px;">delete</i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            <tr ng-show="deviceTemplateListCtrl.items.length === 0">
                                <td>No device templates registered.</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td class="text-center" st-pagination="" st-items-by-page="5" colspan="3"></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div id="edit-devices-editor" class="card" style="display: none;">
                    <div class="header">
                        <h2 class="editable" ng-hide="entity_name_edit" ng-click="entity_name_edit=true;">
                            {{addDeviceTemplateCtrl.item.name}}
                            <i class="material-icons" style="font-size: 16px; margin-left: 5px;line-height: 15px;">mode_edit</i>
                        </h2>
                        <h2 ng-show="entity_name_edit">
                            <form class="form-inline" ng-submit="entity_name_edit=false;">
                                <div class="form-group">
                                    <div class="input-group form-line">
                                        <input type="text" class="form-control"
                                               ng-model="addDeviceTemplateCtrl.item.name"
                                               placeholder="Enter name..."/>
                                        <div class="input-group-btn"
                                             style="position:absolute; right:0; top:-10px; z-index: 5;">
                                            <button type="submit" class="btn btn-sm bg-grey m-t-15 waves-effect">
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </h2>
                        <span class="help-block" ng-show="addDeviceTemplateCtrl.item.errors.name"
                              style="color: #a94442;">{{addDeviceTemplateCtrl.item.errors.name}}</span>
                    </div>
                    <div class="body">
                        <div class="container-fluid">
                            <form ng-submit="addDeviceTemplateCtrl.addItem();">
                                <!-- Tab buttons -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a data-target="#edit-devices-requirements" data-toggle="tab" style="">
                                            <i class="material-icons">playlist_add_check</i>&nbsp;Requirements
                                        </a>
                                    </li>
                                    <li role="presentation" class="">
                                        <a data-target="#edit-devices-scoring-criteria" data-toggle="tab" style="">
                                            <i class="material-icons">format_list_numbered</i>&nbsp;Scoring Criteria
                                        </a>
                                    </li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade active in" id="edit-devices-requirements">
                                        <div class="align-right">
                                            <div class="btn-group"><!-- dropup-->
                                                <button type="button" class="btn btn-primary dropdown-toggle"
                                                        data-toggle="dropdown">
                                                    <i class="material-icons">add</i>&nbsp;Add&nbsp;<span
                                                        class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#" class=" waves-effect waves-block"
                                                           ng-click="addDeviceTemplateCtrl.item.requirements.push({'type': 'name'});">Name</a>
                                                    </li>
                                                    <li><a href="#" class=" waves-effect waves-block"
                                                           ng-click="addDeviceTemplateCtrl.item.requirements.push({'type': 'description', 'operator': 'or'});">Description</a>
                                                    </li>
                                                    <!--
                                                    <li><a href="#" class=" waves-effect waves-block"
                                                           ng-click="addDeviceTemplateCtrl.item.requirements.push({'type': 'keywords'});">Keywords</a>
                                                    </li>-->
                                                    <li role="separator" class="divider"></li>
                                                    <li><a href="#" class=" waves-effect waves-block"
                                                           ng-click="addDeviceTemplateCtrl.item.requirements.push({'type': 'location'});">Location</a>
                                                    </li>
                                                    <!--
                                                    <li><a href="#" class=" waves-effect waves-block"
                                                           ng-click="addDeviceTemplateCtrl.item.requirements.push({'type': 'identifier'});">Identifier</a>
                                                    </li>-->
                                                    <!--
                                                    <li><a href="#" class=" waves-effect waves-block"
                                                           ng-click="addDeviceTemplateCtrl.item.requirements.push({'type': 'capabilities'});">Capabilities</a>
                                                    </li>-->
                                                    <!--
                                                    <li><a href="#" class=" waves-effect waves-block"
                                                           ng-click="addDeviceTemplateCtrl.item.requirements.push({'type': 'context'});">Context</a>
                                                    </li>-->
                                                    <!--
                                                    <li><a href="#" class=" waves-effect waves-block"
                                                           ng-click="addDeviceTemplateCtrl.item.requirements.push({'type': 'attachment'});">Attachment</a>
                                                    </li>-->
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="list-group criteria-list">
                                            <a class="list-group-item"
                                               ng-repeat="req in addDeviceTemplateCtrl.item.requirements">
                                                <div class="row clearfix">
                                                    <div class="col-lg-1" ng-switch="req.type">
                                                        <i class="material-icons" ng-switch-when="name">format_color_text</i>
                                                        <i class="material-icons"
                                                           ng-switch-when="description">comment</i>
                                                        <i class="material-icons" ng-switch-when="keywords">vpn_key</i>
                                                        <i class="material-icons"
                                                           ng-switch-when="location">location_on</i>
                                                        <i class="material-icons" ng-switch-when="identifier">label</i>
                                                        <i class="material-icons" ng-switch-when="capabilities">list</i>
                                                        <i class="material-icons" ng-switch-when="context">share</i>
                                                        <i class="material-icons" ng-switch-when="attachment">lightbulb_outline</i>
                                                    </div>
                                                    <div class="col-lg-2" ng-show="req.type === 'name'">
                                                        Device name...
                                                    </div>
                                                    <div class="col-lg-3" ng-show="req.type === 'name'">
                                                        <div class="form-group" ng-class="{'has-error' : false }">
                                                            <div class="form-line"
                                                                 ng-class="{'focused error' : false }">
                                                                <select class="form-control show-tick"
                                                                        ng-model="req.operator">
                                                                    <option value="">Select ...</option>
                                                                    <option value="equals">equals</option>
                                                                    <option value="contains">contains</option>
                                                                    <option value="begins_with">begins with</option>
                                                                    <option value="ends_with">ends with</option>
                                                                </select>
                                                            </div>
                                                            <span class="help-block" ng-show="false">{{}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-5" ng-show="req.type === 'name'">
                                                        <div class="form-group" ng-class="{'has-error' : false }"
                                                             ng-show="req.operator">
                                                            <div class="form-line"
                                                                 ng-class="{'focused error' : false }">
                                                                <input type="text" class="form-control"
                                                                       placeholder="Enter match..."
                                                                       ng-model="req.match">
                                                            </div>
                                                            <span class="help-block" ng-show="false">{{}}</span>
                                                        </div>
                                                    </div>


                                                    <div class="col-lg-2" ng-show="req.type === 'description'">
                                                        Description contains...
                                                    </div>
                                                    <div class="col-lg-5" ng-show="req.type === 'description'">
                                                        <div class="form-group" ng-class="{'has-error' : false }">
                                                            <div class="form-line"
                                                                 ng-class="{'focused error' : false }">
                                                                <input type="text" class="form-control"
                                                                       placeholder="Enter match..."
                                                                       ng-model="req.match">
                                                            </div>
                                                            <span class="help-block" ng-show="false">{{}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3" ng-show="req.type === 'description'">
                                                        <div class="switch">
                                                            <label>AND
                                                                <input type="checkbox" ng-model="req.operator"
                                                                       ng-true-value="'or'" ng-false-value="'and'">
                                                                <span class="lever"></span>
                                                            </label>OR
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-2" style="margin-top: 8px;"
                                                         ng-show="req.type === 'location'">
                                                        Device is...
                                                    </div>
                                                    <div class="col-lg-3" ng-show="req.type === 'location'">
                                                        <div class="form-group" ng-class="{'has-error' : false }">
                                                            <div class="form-line"
                                                                 ng-class="{'focused error' : false }">
                                                                <select class="form-control show-tick"
                                                                        ng-model="req.operator">
                                                                    <option value="">Select ...</option>
                                                                    <option value="described_by">described by</option>
                                                                    <option value="at_location">at location</option>
                                                                    <option value="in_area">in area</option>
                                                                </select>
                                                            </div>
                                                            <span class="help-block"
                                                                  ng-show="false">{{}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-5" ng-show="req.type === 'location'">
                                                        <div class="form-group" ng-class="{'has-error' : false }"
                                                             ng-show="req.operator">
                                                            <div class="form-line"
                                                                 ng-class="{'focused error' : false }">
                                                                <select class="form-control show-tick"
                                                                        ng-model="req.locationTemplateId">
                                                                    <option value="">Select location template...
                                                                        ({{(locationTemplateListCtrl.items | byLocationTemplateType:req.operator).length}})
                                                                    </option>
                                                                    <option ng-repeat="lt in locationTemplateListCtrl.items | byLocationTemplateType:req.operator"
                                                                            value="{{lt.id}}">
                                                                        {{lt.name}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                            <span class="help-block" ng-show="false">{{}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-1">
                                                        <button type="button"
                                                                class="btn btn-sm bg-red waves-effect waves-float right"
                                                                ng-click="addDeviceTemplateCtrl.item.requirements.splice($index, 1);">
                                                            <i class="material-icons" style="font-size:14px;">delete</i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </a>
                                            <span ng-show="addDeviceTemplateCtrl.item.requirements.length === 0">
                                                No requirements so far.</span>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="edit-devices-scoring-criteria">
                                        <b>Scoring criteria</b>
                                        <p>
                                        </p>
                                    </div>
                                </div>
                                <br/>
                                <button type="submit" class="btn btn-primary m-t-15 waves-effect">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="edit-locations" class="collapse">
            <div class="col-lg-4">
                <div class="card edit-templates-list">
                    <div class="header">
                        <div class="col-lg-8">
                            <h2>
                                <i class="material-icons">location_on</i>
                                Location templates
                                <small>Overview about the registered location templates.</small>
                            </h2>
                        </div>
                        <div class="align-right">
                            <button type="button"
                                    class="btn bg-mbp-blue btn-circle waves-effect waves-circle waves-float"
                                    ng-click="addLocationTemplateCtrl.item = {'name': 'Unnamed'}; ctrl.showLocationTemplatesEditor();">
                                <i class="material-icons">add</i>
                            </button>
                        </div>
                    </div>
                    <div class="body">
                        <table class="table table-hover" st-table="displayedCollection"
                               st-safe-src="locationTemplateListCtrl.items">
                            <thead>
                            </thead>
                            <tbody>
                            <tr id="{{location.id}}" ng-repeat="location in displayedCollection">
                                <td>{{location.name}}</td>
                                <td>{{location.type}}</td>
                                <td class="right">
                                    <form ng-submit="ctrl.editLocationTemplate(location.id)"
                                          style="display: inline-block">
                                        <button type="submit" class="btn btn-sm bg-mbp-blue waves-effect waves-float">
                                            <i class="material-icons" style="font-size:14px; color: white !important;">mode_edit</i>
                                        </button>
                                    </form>
                                    <form ng-submit="deleteLocationTemplateCtrl.deleteItem()"
                                          style="display: inline-block">
                                        <button type="submit" class="btn btn-sm bg-red waves-effect waves-float"
                                                ng-click="deleteLocationTemplateCtrl.item.id = location.id">
                                            <i class="material-icons" style="font-size:14px;">delete</i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            <tr ng-show="locationTemplateListCtrl.items.length === 0">
                                <td>No location templates registered.</td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td class="text-center" st-pagination="" st-items-by-page="5" colspan="3"></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div id="edit-locations-editor" class="card" style="display: none;">
                    <div class="header">
                        <h2 class="editable" ng-hide="entity_name_edit" ng-click="entity_name_edit=true;">
                            {{addLocationTemplateCtrl.item.name}}
                            <i class="material-icons" style="font-size: 16px; margin-left: 5px;line-height: 15px;">mode_edit</i>
                        </h2>
                        <h2 ng-show="entity_name_edit">
                            <form class="form-inline" ng-submit="entity_name_edit=false;">
                                <div class="form-group">
                                    <div class="input-group form-line">
                                        <input type="text" class="form-control"
                                               ng-model="addLocationTemplateCtrl.item.name"
                                               placeholder="Enter name..."/>
                                        <div class="input-group-btn"
                                             style="position:absolute; right:0; top:-10px; z-index: 5;">
                                            <button type="submit" class="btn btn-sm bg-grey m-t-15 waves-effect">
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </h2>
                        <span class="help-block" ng-show="addLocationTemplateCtrl.item.errors.name"
                              style="color: #a94442;">{{addLocationTemplateCtrl.item.errors.name}}</span>
                    </div>
                    <div class="body">
                        <div class="container-fluid">
                            <div class="col-lg-3">
                                <form ng-submit="ctrl.saveLocationTemplate();">
                                    <label>Location type:</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <select class="form-control" ng-model="addLocationTemplateCtrl.item.type"
                                                    ng-disabled="addLocationTemplateCtrl.item.id"
                                                    ng-change="ctrl.onLocationTypeChange()">
                                                <option value="" selected="selected">Select...</option>
                                                <option value="Informal">Informal</option>
                                                <option value="Point">Point</option>
                                                <option value="Circle">Circle Area</option>
                                                <option value="Polygon">Polygon Area</option>
                                            </select>
                                        </div>
                                    </div>
                                    <small ng-show="addLocationTemplateCtrl.item.type === 'Informal'">Location
                                        description...</small>
                                    <div class="form-group" ng-show="addLocationTemplateCtrl.item.type === 'Informal'"
                                         ng-class="{'has-error' : addLocationTemplateCtrl.item.errors.operator }">
                                        <div class="form-line"
                                             ng-class="{'focused error' : addLocationTemplateCtrl.item.errors.operator }">
                                            <select class="form-control"
                                                    ng-model="addLocationTemplateCtrl.item.operator"
                                                    style="margin-bottom:0;">
                                                <option value="" selected="selected">Select...</option>
                                                <option value="equals">equals</option>
                                                <option value="contains">contains</option>
                                                <option value="begins_with">begins with</option>
                                                <option value="ends_with">ends with</option>
                                            </select>
                                        </div>
                                        <span class="help-block" ng-show="addLocationTemplateCtrl.item.errors.operator">{{addLocationTemplateCtrl.item.errors.operator}}</span>
                                    </div>
                                    <div class="form-group" ng-show="addLocationTemplateCtrl.item.type === 'Informal'"
                                         ng-class="{'has-error' : addLocationTemplateCtrl.item.errors.match }">
                                        <div class="form-line"
                                             ng-class="{'focused error' : addLocationTemplateCtrl.item.errors.match }">
                                            <input type="text" class="form-control"
                                                   ng-model="addLocationTemplateCtrl.item.match"
                                                   placeholder="Enter match..."/>
                                        </div>
                                        <span class="help-block"
                                              ng-show="addLocationTemplateCtrl.item.errors.match">{{addLocationTemplateCtrl.item.errors.match}}</span>
                                    </div>
                                    <small ng-show="addLocationTemplateCtrl.item.type === 'Point'">You can either enter
                                        the
                                        coordinates below or pick the location on the map.</small>
                                    <small ng-show="addLocationTemplateCtrl.item.type === 'Circle'">You can either enter
                                        the
                                        center coordinates and radius below or draw the area on the map.</small>
                                    <small ng-show="addLocationTemplateCtrl.item.type === 'Polygon'">You can either
                                        enter all
                                        polygon coordinates below or draw the area on the map.</small>
                                    <div class="form-group"
                                         ng-show="['Point', 'Circle'].includes(addLocationTemplateCtrl.item.type)"
                                         ng-class="{'has-error' : addLocationTemplateCtrl.item.errors.latitude }"
                                         style="margin-bottom:0;">
                                        <div class="form-line"
                                             ng-class="{'focused error' : addLocationTemplateCtrl.item.errors.latitude }">
                                            <input type="number" class="form-control" placeholder="Latitude"
                                                   min="-90" max="90" step="0.000001"
                                                   ng-model="addLocationTemplateCtrl.item.latitude"
                                                   style="font-family: monospace;"/>
                                        </div>
                                        <span class="help-block" ng-show="addLocationTemplateCtrl.item.errors.latitude">{{addLocationTemplateCtrl.item.errors.latitude}}</span>
                                    </div>
                                    <div class="form-group"
                                         ng-show="['Point', 'Circle'].includes(addLocationTemplateCtrl.item.type)"
                                         ng-class="{'has-error' : addLocationTemplateCtrl.item.errors.longitude }"
                                         style="margin-bottom: 0;">
                                        <div class="form-line"
                                             ng-class="{'focused error' : addLocationTemplateCtrl.item.errors.longitude }">
                                            <input type="number" class="form-control" placeholder="Longitude"
                                                   min="-180" max="180" step="0.000001"
                                                   ng-model="addLocationTemplateCtrl.item.longitude"
                                                   style="font-family: monospace;"/>
                                        </div>
                                        <span class="help-block"
                                              ng-show="addLocationTemplateCtrl.item.errors.longitude">{{addLocationTemplateCtrl.item.errors.longitude}}</span>
                                    </div>
                                    <div class="form-group"
                                         ng-show="addLocationTemplateCtrl.item.type === 'Circle'"
                                         ng-class="{'has-error' : addLocationTemplateCtrl.item.errors.radius }"
                                         style="margin-bottom: 0;">
                                        <div class="form-line"
                                             ng-class="{'focused error' : addLocationTemplateCtrl.item.errors.radius }">
                                            <input type="number" class="form-control" placeholder="Radius"
                                                   min="0" max="99999" step="0.1"
                                                   ng-model="addLocationTemplateCtrl.item.radius"
                                                   style="display:inline-block; width:60%; font-family: monospace;"/>
                                            <span>m</span>
                                        </div>
                                        <span class="help-block"
                                              ng-show="addLocationTemplateCtrl.item.errors.radius">{{addLocationTemplateCtrl.item.errors.radius}}</span>
                                    </div>
                                    <div class="form-group" ng-show="addLocationTemplateCtrl.item.type === 'Polygon'"
                                         ng-class="{'has-error' : addLocationTemplateCtrl.item.errors.pointsList }"
                                         style="margin-bottom: 0;">
                                        <textarea class="form-control" rows="5"
                                                  ng-model="addLocationTemplateCtrl.item.pointsList"
                                                  ng-class="{'focused error' : addLocationTemplateCtrl.item.errors.pointsList }"
                                                  style="width:120%; font-size:12px; font-family:monospace;"></textarea>
                                        <span class="help-block"
                                              ng-show="addLocationTemplateCtrl.item.errors.pointsList">{{addLocationTemplateCtrl.item.errors.pointsList}}</span>
                                    </div>
                                    <button type="button" class="btn btn-block btn-xs btn-default m-t-15 waves-effect"
                                            ng-show="['Point', 'Circle', 'Polygon'].includes(addLocationTemplateCtrl.item.type);"
                                            ng-click="ctrl.onLocationChange()" style="margin: 0;">
                                        <i class="material-icons">my_location</i>&nbsp;&nbsp;View
                                    </button>
                                    <br/>
                                    <button type="submit" class="btn btn-primary m-t-15 waves-effect"
                                            ng-show="addLocationTemplateCtrl.item.type">Save
                                    </button>
                                </form>
                            </div>
                            <div class="col-lg-9">
                                <location-drawer-map height="400" api="ctrl.locationMapApi"
                                                     init-center="ctrl.mapInitCenter"
                                                     init-zoom="ctrl.mapInitZoom"
                                                     drawing-finished="ctrl.onDrawingFinished(geometry)">
                                </location-drawer-map>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="edit-identifiers" class="card collapse">
            <div class="header">
                <div class="col-lg-6">
                    <h2>
                        <i class="material-icons">label</i>
                        Identifier templates
                    </h2>
                </div>
            </div>
            <div class="body">
                ASDF
            </div>
        </div>

        <div id="edit-capabilities" class="card collapse">
            <div class="header">
                <div class="col-lg-6">
                    <h2>
                        <i class="material-icons">list</i>
                        Capability templates
                    </h2>
                </div>
            </div>
            <div class="body">
                ASDF
            </div>
        </div>

        <div id="edit-context" class="card collapse">
            <div class="header">
                <div class="col-lg-6">
                    <h2>
                        <i class="material-icons">share</i>
                        Context templates
                    </h2>
                </div>
            </div>
            <div class="body">
                ASDF
            </div>
        </div>

        <div id="edit-attachments" class="card collapse">
            <div class="header">
                <div class="col-lg-6">
                    <h2>
                        <i class="material-icons">lightbulb_outline</i>
                        Attachment templates
                    </h2>
                </div>
            </div>
            <div class="body">
                ASDF
            </div>
        </div>
    </div>
</div>