<div class="row clearfix">
    <!-- Sensor Properties Card -->
    <div class="col-lg-6">
        <div class="card details-info-card">
            <div class="header"
                 ng-class="{'bg-blue': ctrl.dynamicDeployment.inProgress, 'bg-grey': ctrl.dynamicDeployment.lastState === 'disabled' && !ctrl.dynamicDeployment.inProgress, 'bg-orange': (ctrl.dynamicDeployment.lastState === 'no_candidate' || ctrl.dynamicDeployment.lastState === 'all_failed') && !ctrl.dynamicDeployment.inProgress, 'bg-green': ctrl.dynamicDeployment.lastState === 'deployed' && !ctrl.dynamicDeployment.inProgress}">
                <i class="material-icons" style="position: absolute; margin-top: 4px">device_hub</i>
                <h2 style="margin-left: 35px;">
                    {{ctrl.dynamicDeployment.name}}
                    <small ng-show="ctrl.dynamicDeployment.inProgress">Deployment operations are currently in
                        progress.</small>
                    <small ng-show="ctrl.dynamicDeployment.lastState === 'disabled' && !ctrl.dynamicDeployment.inProgress">The
                        dynamic deployment is deactivated.</small>
                    <small ng-show="ctrl.dynamicDeployment.lastState === 'no_candidate' && !ctrl.dynamicDeployment.inProgress">No
                        candidate devices could be retrieved.</small>
                    <small ng-show="ctrl.dynamicDeployment.lastState === 'all_failed' && !ctrl.dynamicDeployment.inProgress">The
                        deployment failed for all candidate devices.</small>
                    <small ng-show="ctrl.dynamicDeployment.lastState === 'deployed' && !ctrl.dynamicDeployment.inProgress">Successfully
                        deployed to the most appropriate candidate device.</small>
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li>
                        <a ng-click="ctrl.reloadDeploymentDetails()" class="clickable">
                            <i class="material-icons">refresh</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="body">
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <th>Operator:</th>
                        <td>{{ctrl.dynamicDeployment.operator.name}}</td>
                    </tr>
                    <tr>
                        <th>Device template:</th>
                        <td>{{ctrl.dynamicDeployment.deviceTemplate.name}}</td>
                    </tr>
                    <tr>
                        <th>State:</th>
                        <td>
                            <div class="clickable" ng-click="ctrl.reloadDeploymentDetails()">
                                <div ng-show="ctrl.dynamicDeployment.inProgress">
                                    <span class="label label-primary">{{ctrl.dynamicDeployment.activatingIntended ? 'Activating' : 'Deactivating'}}</span>
                                </div>
                                <div ng-show="ctrl.dynamicDeployment.lastState === 'disabled' && !ctrl.dynamicDeployment.inProgress">
                                    <span class="label label-default">Disabled</span>
                                </div>
                                <div ng-show="ctrl.dynamicDeployment.lastState === 'no_candidate' && !ctrl.dynamicDeployment.inProgress">
                                    <span class="label label-warning">No candidates</span>
                                </div>
                                <div ng-show="ctrl.dynamicDeployment.lastState === 'all_failed' && !ctrl.dynamicDeployment.inProgress">
                                    <span class="label label-warning">All failed</span>
                                </div>
                                <div ng-show="ctrl.dynamicDeployment.lastState === 'deployed' && !ctrl.dynamicDeployment.inProgress">
                                    <span class="label label-success">Deployed</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr ng-show="ctrl.dynamicDeployment.lastDeviceDetails">
                        <th>Current device:</th>
                        <td>
                            <ul class="list-group">
                                <li class="list-group-item"><strong>IP address:</strong>
                                    {{ctrl.dynamicDeployment.lastDeviceDetails.ipAddress}}
                                </li>
                                <li class="list-group-item"><strong>MAC address:</strong>
                                    {{ctrl.dynamicDeployment.lastDeviceDetails.macAddress}}
                                </li>
                                <li class="list-group-item"><strong>User name:</strong>
                                    {{ctrl.dynamicDeployment.lastDeviceDetails.username}}
                                </li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br/>
                <div>
                    <span ng-show="!ctrl.dynamicDeployment.activatingIntended">
                        <button class="btn bg-mbp-mid-blue waves-effect" ng-click="ctrl.activateDeployment()"
                                style="color: white;">
                            <i class="material-icons">play_circle_outline</i>
                            <span>Activate deployment</span>
                        </button>
                    </span>
                    <span ng-show="ctrl.dynamicDeployment.activatingIntended">
                        <button class="btn bg-mbp-mid-blue waves-effect" ng-click="ctrl.deactivateDeployment()"
                                style="color: white;">
                            <i class="material-icons">pause_circle_outline</i>
                            <span>Deactivate deployment</span>
                        </button>
                    </span>
                    <span ng-show="ctrl.dynamicDeployment.activatingIntended">
                        <button class="btn bg-mbp-mid-blue waves-effect" ng-click="ctrl.refreshCandidateDevices()"
                                style="color: white;" data-toggle="popover" data-placement="top"
                                data-trigger="hover" data-html="true"
                                title="Refresh candidate devices and subscriptions"
                                data-content="Refreshes all candidate devices that are stored for the device template of the dynamic deployment by retrieving them from the discovery repositories again. Thereby, also the subscriptions at these repositories are renewed, such that e.g. discovery repositories that are available under recently created request topics can be considered as well.">
                            <i class="material-icons">refresh</i>
                            <span>Refresh candidates devices</span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- Stats Card -->
    <div class="col-lg-6">
        <div class="card stats-card">
            <div class="header">
                <i class="material-icons" style="position: absolute; margin-top: 4px">equalizer</i>
                <h2 style="margin-left: 35px;">Value statistics
                    <small>Overview about received values.</small>
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li>
                        <a ng-click="ctrl.deleteValueLogs()" class="clickable">
                            <i class="material-icons">delete</i>
                        </a>
                    </li>
                    <li>
                        <a ng-click="valueLogStatsApi.updateStats()" class="clickable">
                            <i class="material-icons">refresh</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="body">
                <h5>Display unit</h5>
                <div class="form-group align-right">
                    <div class="form-line">
                        <unit-input ng-model="ctrl.displayUnitInput"
                                    unit-filter="{{ctrl.dynamicDeployment.operator.unit}}"></unit-input>
                    </div>
                    <span class="help-block" ng-show="false"></span><br/>
                    <button class="btn btn-primary m-t-0 waves-effect" ng-click="ctrl.onDisplayUnitChange()">
                        Update
                    </button>
                </div>
                <value-log-stats api="valueLogStatsApi"
                                 loading-start="ctrl.valueLogStats.loadingStart()"
                                 loading-finish="ctrl.valueLogStats.loadingFinish()"
                                 get-stats="ctrl.valueLogStats.getStats(unit)"
                                 unit="{{ctrl.displayUnit}}">
                </value-log-stats>
            </div>
        </div>
    </div>
</div>

<!-- Discovery logs card -->
<div class="row clearfix" ng-hide="ng-hide">
    <div class="col-lg-12">
        <div class="card">
            <div class="header">
                <h2>Discovery logs<small>Overview about the discovery logs that were collected for the
                    discovery-related tasks of this dynamic deployment.</small></h2>
                <ul class="header-dropdown m-r--5">
                    <li>
                        <a ng-click="ctrl.deleteDiscoveryLogs()" class="clickable">
                            <i class="material-icons">delete</i>
                        </a>
                    </li>
                    <li>
                        <a ng-click="ctrl.updateDiscoveryLogs()" class="clickable">
                            <i class="material-icons">refresh</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table id="discovery-logs-table" class="table table-bordered table-striped table-hover dataTable"
                           style="width:100%;">
                        <thead>
                        <tr>
                            <th>Start time</th>
                            <th>Task</th>
                            <th>Trigger</th>
                            <th>End time</th>
                            <th style="min-width: 450px;">Log messages</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Live Values Card -->
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card live-chart-card animate-show-hide" ng-show="ctrl.dynamicDeployment.lastState=='deployed'">
            <div class="header">
                <i class="material-icons" style="position: absolute; margin-top: 1px">live_tv</i>
                <h2 style="margin-left: 35px;">Live Chart</h2>
            </div>
            <div class="body">
                <live-chart loading-start="ctrl.liveChart.loadingStart()"
                            loading-finish="ctrl.liveChart.loadingFinish()"
                            get-data="ctrl.liveChart.getData(numberLogs, descending, unit)"
                            is-updateable="ctrl.liveChart.isUpdateable()"
                            unit="{{ctrl.displayUnit}}">
                </live-chart>
            </div>
        </div>
    </div>
</div>

<!-- Historical Values Card -->
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card historical-chart-card">
            <div class="header">
                <i class="material-icons" style="position: absolute; margin-top: 1px">access_time</i>
                <h2 style="margin-left: 35px;">Historical Chart</h2>
                <ul class="header-dropdown m-r--5">
                    <li>
                        <a ng-click="historicalChartApi.updateChart()" class="clickable">
                            <i class="material-icons">refresh</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="body">
                <historical-chart api="historicalChartApi"
                                  loading-start="ctrl.historicalChart.loadingStart()"
                                  loading-finish="ctrl.historicalChart.loadingFinish()"
                                  get-data="ctrl.historicalChart.getData(numberLogs, descending, unit, startTime, endTime)"
                                  unit="{{ctrl.displayUnit}}">
                </historical-chart>
            </div>
        </div>
    </div>
</div>