<div class="row clearfix">
    <!-- Sensor Properties Card -->
    <div class="col-lg-6">
        <div class="card deployment-card">
            <div class="header"
                 ng-class="{'bg-red': ctrl.deploymentState=='NOT_READY', 'bg-green': ctrl.deploymentState=='READY', 'bg-teal': ctrl.deploymentState=='DEPLOYED', 'bg-cyan': ctrl.deploymentState=='RUNNING', 'bg-grey': ctrl.deploymentState=='UNKNOWN'}">
                <i class="material-icons" style="position: absolute; margin-top: 4px">settings_remote</i>
                <h2 style="margin-left: 35px;">
                    {{ctrl.dynamicPeripheralDetails.name}}
                    <small></small>
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li>
                        <a ng-click="" class="clickable">
                            <i class="material-icons">refresh</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="body">
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <th>Sensor type:</th>
                        <td>{{ctrl.component.componentType}}</td>
                    </tr>
                    <tr>
                        <th>Operator:</th>
                        <td>{{ctrl.component.operator.name}}</td>
                    </tr>
                    <tr>
                        <th>Unit:</th>
                        <td>{{ctrl.component.operator.unit ?
                                ctrl.component.operator.unit : 'None'}}
                        </td>
                    </tr>
                    <tr>
                        <th>Device:</th>
                        <td>{{ctrl.component.device.name}} (IP:
                            {{ctrl.component.device.ipAddress}})
                        </td>
                    </tr>
                    <tr>
                        <th>Device state:</th>
                        <td>
                            <div ng-switch="ctrl.deviceState"
                                 ng-click="ctrl.updateDeviceState()" class="clickable">
                                <div ng-switch-when="LOADING">
                                    <div class="preloader pl-size-xs">
                                        <div class="spinner-layer pl-blue">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-switch-when="OFFLINE">
                                    <span class="label label-danger">Unavailable</span>
                                </div>
                                <div ng-switch-when="ONLINE">
                                    <span class="label label-warning">Not connected</span>
                                </div>
                                <div ng-switch-when="SSH_AVAILABLE">
                                    <span class="label label-success">Connected</span>
                                </div>
                                <div ng-switch-default>
                                    <span class="label label-default">Unknown</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div>
                    <span ng-show="ctrl.deploymentState=='READY'">
                        <button class="btn bg-mbp-mid-blue waves-effect" ng-click="ctrl.deploy()">
                            <i class="material-icons">file_download</i>
                            <span>Install operator</span>
                        </button>
                    </span>
                    <span ng-show="ctrl.deploymentState=='DEPLOYED'">
                        <button class="btn bg-mbp-mid-blue waves-effect"
                                ng-click="ctrl.startComponent()">
                            <i class="material-icons">play_arrow</i>
                            <span>Start operator</span>
                        </button>
                    </span>
                    <span ng-show="ctrl.deploymentState=='RUNNING'">
                        <button class="btn bg-mbp-mid-blue waves-effect"
                                ng-click="ctrl.stopComponent()">
                            <i class="material-icons">stop</i>
                            <span>Stop operator</span>
                        </button>
                    </span>
                    <span ng-show="['DEPLOYED', 'RUNNING'].includes(ctrl.deploymentState)">
                        <button class="btn bg-mbp-mid-blue waves-effect" ng-click="ctrl.undeploy()">
                            <i class="material-icons">file_upload</i>
                            <span>Uninstall operator</span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- Sensor Stats Card -->
    <div class="col-lg-6">
        <div class="card stats-card">
            <div class="header">
                <i class="material-icons" style="position: absolute; margin-top: 4px">equalizer</i>
                <h2 style="margin-left: 35px;">Value statistics
                    <small>Overview about received values</small>
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li>
                        <a ng-click="valueLogStatsApi.updateStats()" class="clickable">
                            <i class="material-icons">refresh</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="body">
                <h5>Display unit</h5>
                <div class="form-group align-right">
                    <div class="form-line">
                        <unit-input ng-model="ctrl.displayUnitInput"
                                    unit-filter="{{ctrl.dynamicPeripheral.operator.unit}}"></unit-input>
                    </div>
                    <span class="help-block" ng-show="false"></span><br/>
                    <button class="btn btn-primary m-t-0 waves-effect" ng-click="ctrl.onDisplayUnitChange()">
                        Update
                    </button>
                </div>
                <!--
                <value-log-stats api="valueLogStatsApi"
                                 loading-start="ctrl.valueLogStats.loadingStart()"
                                 loading-finish="ctrl.valueLogStats.loadingFinish()"
                                 get-stats="ctrl.valueLogStats.getStats(unit)"
                                 unit="{{ctrl.displayUnit}}">
                </value-log-stats>-->
                <div style="height: 20px"></div>

                <button class="btn btn-danger waves-effect" ng-click="ctrl.deleteValueLogs()">
                    <i class="material-icons">delete</i>Delete all sensor values
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Live Values Card -->
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card live-chart-card animate-show-hide" ng-show="ctrl.deploymentState=='RUNNING'">
            <div class="header">
                <i class="material-icons" style="position: absolute; margin-top: 1px">live_tv</i>
                <h2 style="margin-left: 35px;">Live Chart</h2>
            </div>
            <div class="body">
                <!--
                <live-chart loading-start="ctrl.liveChart.loadingStart()"
                            loading-finish="ctrl.liveChart.loadingFinish()"
                            get-data="ctrl.liveChart.getData(numberLogs, descending, unit)"
                            is-updateable="ctrl.liveChart.isUpdateable()"
                            unit="{{ctrl.displayUnit}}">
                </live-chart>-->
            </div>
        </div>
    </div>
</div>

<!-- Historical Values Card -->
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card historical-chart-card">
            <div class="header">
                <i class="material-icons" style="position: absolute; margin-top: 1px">access_time</i>
                <h2 style="margin-left: 35px;">Historical Chart</h2>
                <ul class="header-dropdown m-r--5">
                    <li>
                        <a ng-click="historicalChartApi.updateChart()" class="clickable">
                            <i class="material-icons">refresh</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="body">
                <!--
                <historical-chart api="historicalChartApi"
                                  loading-start="ctrl.historicalChart.loadingStart()"
                                  loading-finish="ctrl.historicalChart.loadingFinish()"
                                  get-data="ctrl.historicalChart.getData(numberLogs, descending, unit, startTime, endTime)"
                                  unit="{{ctrl.displayUnit}}">
                </historical-chart>-->
            </div>
        </div>
    </div>
</div>