<div class="row clearfix">
    <div class="col-lg-9">
    	<div class="row equal">
    		<!-- AVATAR -->
            <div class="col-lg-1 col-md-1 col-sm-6 col-xs-12 GF_flexCol">
            	<div class="card">
                    <div class="body GF_cardbody">
            			<div class="GF_div"><img src="images/avatar.png" style="width:100%" alt="User Avatar"></div>
            		</div>
                </div>
            </div>
            
            <!-- POINTS -->
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 GF_flexCol">
      			<div class="card">
                    <div class="body GF_cardbody">
                   		<div class="GF_div">
	                   		<table>
	                   			<tr>
	                   		   		<td><img src="images/gold.png" style="width:70%"></td>
	                       			<td><h4>{{vm.GFUser.points}}</h4></td>
	                       		</tr>
	                       	</table>
	                    </div>
                    </div>
                </div>
            </div>
       		<div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 GF_flexCol">
         		<div class="card">
                    <div class="body GF_cardbody">
                        <div class="GF_div" ng-switch="vm.GFUser.progressLevel">
                        	<div ng-switch-when="Beginner">
                                <img src="images/progress_beginner.png" style="width:100%">
                            </div>
                            <div ng-switch-when="Intermediate">
                                <img src="images/progress_intermediate.png" style="width:100%">
                            </div>
                            <div ng-switch-when="Advanced">
                                <img src="images/progress_advanced.png" style="width:100%">
                            </div>
                            <div ng-switch-default>
                                <img src="images/progress_beginner.png" style="width:100%">
                            </div>
                            <h4 style="text-align:center;">{{vm.GFUser.progressLevel}}</h4>
                        </div>
                   </div>
               </div>
           	</div>
            
            <!-- BADGES -->
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                <div class="card">
                    <div class="body">
                        <img src="images/badges.png" style="width:100%;">
                    </div>
                </div>
            </div>
    	</div>
    	
    	<div class="row clearfix" ng-repeat="gamificationLevel in vm.levels">
    		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		    	<!-- Gamification Level Card -->
			    <div class="card">
		            <div class="header">
		                <h2 class="ng-binding" style="font-size:26px;">
		                   {{gamificationLevel}} 
		                </h2>
		                <ul class="header-dropdown m-r--5">
		                    <li>
		                        <a class="clickable" data-toggle="collapse" data-target="#{{gamificationLevel}}-card-body">
		                            <i class="material-icons">keyboard_arrow_down</i>
		                        </a>
		                    </li>
		                </ul>
		            </div>
		            <div id="{{gamificationLevel}}-card-body" class="body collapse">
		                <table class="table table-responsive align-middle" st-table="vm.activities">
		                    <tbody>
			                    <tr id="{{item.id}}" ng-repeat="item in vm.activities" ng-if="item.level == gamificationLevel">
			                        <td style="vertical-align:middle">
			                            <h4>{{item.title}} - {{item.description}}</h4>
			                        </td>
			                        <td class="align-center">
			                        	<h2 ng-switch="item.status">
			                                <div ng-switch-when="done">
			                                    <span class="label label-success">Done</span>
			                                </div>
			                                <div ng-switch-default>
			                                    <span class="label label-default">Open</span>
			                                </div>
			                            </h2>
			                        </td>
			                        <td class="align-center">
			                        	<h2>
				                        	<button class="btn btn-primary" ng-click="vm.openActivityContent(item.id)">
				                        		Start
				                        	</button>
				                        </h2>
			                        </td>
			                    </tr>
			                    <tr ng-show="vm.activities.length === 0">
			                        <td>No activities configured.</td>
			                        <td></td>
			                        <td></td>
			                    </tr>
		                    </tbody>
		                </table>
		            </div>
			    </div>
			    <!-- #END# Gamification Level Card -->
			</div>
		</div>
	</div>
	
	<div class="col-lg-3">
		<div class="row clearfix">
			<!-- LAST COLUMN - LEADERBOARD, FEEDBACKS, STORE -->
          	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <img src="images/leaderboard.png" style="width:100%">
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
          	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <img src="images/feedback.png" style="width:100%">
                    </div>
                </div>
        	</div>
        </div>
        <div class="row clearfix">
          	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                    	<table>
                   			<tr>
                   		   		<td style="width:30%"><img src="images/shoppingcart.png" style="width:80%"></td>
                       			<td><h4>Store</h4></td>
                       		</tr>
                       	</table>
                    	<!-- <img src="images/shoppingcart.png" class="col-sm-2">
                    	<h4>Store</h4>-->
                        <table class="table table-striped" st-table="vm.storeItemList">
		                    <thead>
		                    <tr>
		                    	<th scope="col">Item</th>
      							<th scope="col">Price</th>
		                    </tr>
		                    </thead>
		                    <tbody>
		                    <tr id="{{item.id}}" ng-repeat="item in vm.storeItemList">
		                        <td>{{item.name}}</td>
		                        <td>{{item.price}}</td>
		                    </tr>
		                    <tr ng-show="vm.storeItemList.length === 0">
		                        <td>No store items configured.</td>
		                    </tr>
		                    </tbody>
		                </table>
                    </div>
                </div>
        	</div>
        </div>
    </div>
    
    <!-- Modal Activity Content -->
    <div class="modal fade" id="gamificationActivityContentModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">{{vm.modalContentTitle}}
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h2>
                </div>
                <div class="modal-body">
                	<h5><a href="{{vm.modalContent}}" target="_blank">Check the content here!</a></h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary m-t-0 waves-effect" data-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="vm.completeActivity(true)" ng-disabled="vm.selectedActivity.status == 'done'">
		                Done!
		            </button>
                </div>
			</div>
        </div>
    </div>
    <!-- #END# Modal Activity Content -->
    
    <!-- Modal Quiz -->
    <div class="modal fade" id="gamificationActivityQuizModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" style="font-size:30px;">{{vm.modalContentTitle}}
	                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                        <span aria-hidden="true">&times;</span>
	                    </button>
                    </h2>
                </div>
                <form id="quizQuestionForm" ng-submit="vm.submitQuizAnswers()">
	                <div class="modal-body">
	                	<table class="table" st-table="vm.selectedActivity.questions">
		                    <tbody>
		                    <tr id="question_{{question.id}}" ng-repeat="question in vm.selectedActivity.questions">
		                        <td>
		                        	<table class="table table-borderless">
		                        		<tbody>
			                        		<tr>
			                        			<td><h3>{{question.sequence}} - {{question.question_text}}</h3></td>
			                        		</tr>
			                        		<tr>
			                        			<td>
			                        				<div class="form-check" ng-repeat="answer in question.answers">
													  <input class="form-check-input" type="radio" name="answer_{{question.id}}" id="answer_{{question.id}}_{{answer.sequence}}" is_correct="{{answer.is_correct}}" value="">
													  <label class="form-check-label" for="answer_{{question.id}}_{{answer.sequence}}">
													    {{answer.answer_text}}
													  </label>
													</div>
			                        			</td>
			                        		</tr>
			                        	</tbody>
		                        	</table>
		                        </td>
		                    </tr>
		                    <tr ng-show="vm.selectedActivity.questions.length === 0">
		                        <td>No questions configured for this quiz.</td>
		                        <td></td>
		                        <td></td>
		                    </tr>
		                    </tbody>
		                </table>
	                </div>
	                <div class="modal-footer">
	                    <button type="button" class="btn btn-secondary m-t-0 waves-effect" data-dismiss="modal">
	                        Close
	                    </button>
	                    <button type="submit" class="btn btn-primary" ng-disabled="vm.selectedActivity.status == 'done'">
	                        Submit Answers!
	                    </button>
	                </div>
	        	</form>
			</div>
        </div>
    </div>
    <!-- #END# Modal Quiz-->
</div>