<div class="row clearfix">
	<div class="col-lg-12">
		<div class="row clearfix">

			<!-- MODELS COUNT -->
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="info-box">
					<div class="icon bg-blue">
						<i class="material-icons">view_quilt</i>
					</div>
					<div class="content">
						<div class="text">IoT Models</div>
						<div class="number count-to" data-from="0" data-to="125"
							data-speed="1000" data-fresh-interval="20">0</div>
					</div>
				</div>
			</div>

			<!-- DEVICES COUNT -->
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="info-box">
					<div class="icon bg-amber">
						<i class="material-icons">devices</i>
					</div>
					<div class="content">
						<div class="text">Devices</div>
						<div class="number count-to" data-from="0" data-to="125"
							data-speed="1000" data-fresh-interval="20">{{ctrl.countDevices}}</div>
					</div>
				</div>
			</div>

			<!-- ACTUATORS COUNT -->
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="info-box">
					<div class="icon bg-lime">
						<i class="material-icons">wb_incandescent</i>
					</div>
					<div class="content">
						<div class="text">Actuators</div>
						<div class="number count-to" data-from="0" data-to="125"
							data-speed="1000" data-fresh-interval="20">{{ctrl.countActuators}}</div>
					</div>
				</div>
			</div>

			<!-- SENSORS COUNT -->
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="info-box">
					<div class="icon bg-yellow">
						<i class="material-icons">settings_remote</i>
					</div>
					<div class="content">
						<div class="text">Sensors</div>
						<div class="number count-to" data-from="0" data-to="125"
							data-speed="1000" data-fresh-interval="20">{{ctrl.countSensors}}</div>
					</div>
				</div>
			</div>

			<!-- ADAPTERS COUNT -->
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-show="expert">
				<div class="info-box">
					<div class="icon bg-orange">
						<i class="material-icons">description</i>
					</div>
					<div class="content">
						<div class="text">Adapters</div>
						<div class="number count-to" data-from="0" data-to="125"
							data-speed="1000" data-fresh-interval="20">{{ctrl.countAdapters}}</div>
					</div>
				</div>
			</div>

			<!-- MONITORING ADAPTERS COUNT -->
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-show="expert">
				<div class="info-box">
					<div class="icon bg-pink">
						<i class="material-icons">timeline</i>
					</div>
					<div class="content">
						<div class="text">Monitoring Adapters</div>
						<div class="number count-to" data-from="0" data-to="125"
							 data-speed="1000" data-fresh-interval="20">{{ctrl.countMonitoringAdapters}}</div>
					</div>
				</div>
			</div>
		</div>


		<div class="jumbotron" style="background-color:white">
			<h1>Welcome!</h1>
			<p>The MPB is here to help you manage your IoT environments, you have:
				<ul>
					<li>{{ctrl.countDevices}} registered device(s)</li>
					<li>{{ctrl.countSensors}} registered sensor(s)</li>
					<li>{{ctrl.countActuators}} registered actuator(s)</li>
				</ul>
			</p>
			<br/>
				<p><a class="btn btn-primary btn-lg" href="https://github.com/IPVS-AS/MBP/wiki" role="button">Learn more about the MBP</a></p>
		</div>
		
	</div>
</div>