<select class="form-control show-tick" ng-focus="fieldCollectionIdInput = pathType">
    <option value="" ng-show="false">Choose a path</option>
    <option ng-repeat="pathItem in jsonPathList" value="{{pathItem}}"
            ng-click="onSelectPathItem(pathItem)">{{pathItem.name}} ({{pathItem.type}}: {{pathItem.path}})
    </option>
</select>
<table class="table table-hover" ng-if="arrInputBinding.length > 0" ng-focus="focus">
    <thead>
    <tr>
        <th>
        {{bindedModel.path}}
        </th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="binding in $parent.arrInputBinding">
        <td><b>Array {{$index}}:</b></td>
        <td>
            <select class="form-control" ng-focus="$parent.fieldCollectionIdInput = $parent.pathType"
                    ng-model="binding.input" ng-change="$parent.onDimensionInput($index)">
                <option value="" ng-show="false">Choose an array index</option>
                <option ng-repeat="inputOption in binding.inputOptions"
                        value="{{'' + inputOption}}">
                    {{inputOption}}
                </option>
            </select>
        </td>
    </tr>
    </tbody>
</table>