<div id="modelingToolView" class="row clearfix" style="display:block;">
  <div style="width:100%; white-space:nowrap;">

    <div style="display: inline-block; vertical-align: top; padding: 5px; width:17%;">
      <div id="myPalette" style="box-shadow: 1px 1px 1px 1px grey; height: 530px;  background-color: #efefef;">

        <div class="tool-header" style="box-shadow: 1px 1px 1px 1px grey;">
          <span class="navbar-brand" style="color: black">Palette</span>
        </div>

        <div class="panel-group" id="accordion">
          <div class="panel panel-default">

            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" onclick="event.preventDefault();" data-parent="#accordion" href="#collapseFloorplans">
                  <i class="material-icons" style="font-size: 20px;">weekend</i>
                  <span class="glyphicon glyphicon-chevron-down pull-right"></span>Floorplans</a>
              </h4>
            </div>

            <div id="collapseFloorplans" class="panel-collapse collapse in">
              <div class="panel-body canvas-wide modeling-tool" id="canvasPalette">
                <ul id="dragList">
                  <li>
                    <div class="window room" id="room"></div>
                    <strong>
                      <p>Room</p>
                    </strong>
                  </li>
                  <li>
                    <div class="window door" id="door"></div>
                    <strong>
                      <p>Door</p>
                    </strong>
                  </li>
                </ul>
              </div>
            </div>

          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" onclick="event.preventDefault();" data-parent="#accordion" href="#collapseDevices">
                  <i class="material-icons" style="font-size: 20px;">devices</i>
                  <span class="glyphicon glyphicon-chevron-down pull-right"></span>Devices</a>
              </h4>
            </div>
            <div id="collapseDevices" class="panel-collapse collapse">
              <div class="panel-body canvas-wide modeling-tool" id="canvasPalette">
                <ul id="dragList">
                  <li>
                    <div class="window device default-device" id="defaultDevice"></div>
                    <strong>
                      <p>Default device</p>
                    </strong>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" onclick="event.preventDefault();" data-parent="#accordion" href="#collapseActuators">
                  <i class="material-icons" style="font-size: 20px;">wb_incandescent</i>
                  <span class="glyphicon glyphicon-chevron-down pull-right"></span>Actuators</a>
              </h4>
            </div>
            <div id="collapseActuators" class="panel-collapse collapse">
              <div class="panel-body canvas-wide modeling-tool" id="canvasPalette">
                <ul id="dragList">
                  <li>
                    <div class="window actuator default-actuator" id="defaultActuator"></div>
                    <strong>
                      <p>Default actuator</p>
                    </strong>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" onclick="event.preventDefault();" data-parent="#accordion" href="#collapseSensors">
                  <i class="material-icons" style="font-size: 20px;">settings_remote</i>
                  <span class="glyphicon glyphicon-chevron-down pull-right"></span>Sensors</a>
              </h4>
            </div>
            <div id="collapseSensors" class="panel-collapse collapse">
              <div class="panel-body canvas-wide modeling-tool" id="canvasPalette">
                <ul id="dragList">
                  <li>
                    <div class="window sensor default-sensor" id="defaultSensor"></div>
                    <strong>
                      <p>Default sensor</p>
                    </strong>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div style="display: inline-block; vertical-align: top; padding: 5px; width:65%;">
      <div id="myDiagram" style="box-shadow: 1px 1px 5px 1px grey; height: 530px;  background-color: #efefef;">
        <!-- Toolbar -->
        <div class="tool-header" style="box-shadow: 1px 1px 1px 1px grey;">
          <span class="navbar-brand" style="color: black">Modeling area</span>
          <div class="tool-header-right">
            <!-- <button class="tool-button" id="saveModelBtn" ng-click="vm.saveModel()">Save</button> -->
            <button class="tool-button" id="registerComponentsBtn" ng-click="vm.registerComponents()">Register</button>
            <button class="tool-button" id="deployComponentsBtn" ng-click="vm.deployComponents()">Deploy</button>
            <button class="tool-button" id="undeployComponentsBtn" ng-click="vm.undeployComponents()">Undeploy</button>
            <!-- <button class="tool-button" id="deleteModelBtn" ng-click="vm.deleteModel()">Delete</button> <button class="tool-button" id="clearCanvasBtn" ng-click="vm.clearCanvas()">Clear</button> -->
          </div>
        </div>
        <!-- /.toolbar -->
        <!-- Toolbar -->
        <div class="tool-header" style="box-shadow: 1px 1px 1px 1px grey;">
          <div class="tool-header-right">
            <button class="tool-button" id="saveModelBtn" ng-click="vm.saveModel()">Save</button>
            <button class="tool-button" id="deleteModelBtn" ng-click="vm.deleteModel()">Delete</button>
            <button class="tool-button" id="clearCanvasBtn" ng-click="vm.clearCanvas()">Clear</button>
          </div>
        </div>
        <!-- /.toolbar -->

        <div class="jtk-main">
          <div class="jtk-canvas canvas-wide modeling-tool jtk-surface jtk-surface-nopan" id="canvas"></div>
        </div>
      </div>
    </div>

    <!-- Info sidebar -->
    <div style="display: inline-block; vertical-align: top; padding: 5px; width:17%;">
      <div id="infoSidebar" style="box-shadow: 1px 1px 1px 1px grey; height: 530px; background-color: #efefef;">

        <div class="tool-header" style="box-shadow: 1px 1px 1px 1px grey;">
          <span class="navbar-brand" style="color: black">Info</span>
        </div>

        <div class="panel panel-default" style="margin: 5px;" ng-show="vm.clickedComponent.category == 'DEVICE'">
          <div class="panel-heading" style="text-align: center;">
            <h4 class="panel-title">DEVICE</h4>
          </div>
          <div id="deviceInfo" class="panel-body input-list">
            <ul>
              <li>
                <label for="name">Name</label>
                <input id="deviceNameInput" type="text" name="name" ng-model="vm.clickedComponent.name" autocomplete="off">
                <!-- <span>Enter your full name here</span> -->
              </li>
              <li>
                <label for="type">Type</label>
                <input id="deviceTypeInput" type="text" name="type" ng-model="vm.clickedComponent.type" autocomplete="off">
              </li>
              <li>
                <label for="mac">MAC</label>
                <input id="deviceMacInput" type="text" name="mac" ng-model="vm.clickedComponent.mac" autocomplete="off" placeholder="HH-HH-HH-HH-HH-HH">
              </li>
              <li>
                <label for="ip">IP</label>
                <input id="deviceIpInput" type="text" name="ip" ng-model="vm.clickedComponent.ip" autocomplete="off">
              </li>
              <li>
                <label for="username">Username</label>
                <input id="deviceUsernameInput" type="text" name="username" ng-model="vm.clickedComponent.username" autocomplete="off">
              </li>
              <!-- <li> <input type="submit" value="Send This"> </li> -->
            </ul>
          </div>

          <div class="panel-footer">
            <button class="tool-button" id="registerComponentBtn" ng-click="vm.registerComponent()">Register</button>
          </div>
        </div>

        <div class="panel panel-default" style="margin: 5px;" ng-show="vm.clickedComponent.category == 'ACTUATOR'">
          <div class="panel-heading" style="text-align: center;">
            <h4 class="panel-title">ACTUATOR</h4>
          </div>

          <div id="actuatorInfo" class="input-list">
            <ul>
              <li>
                <label for="name">Name</label>
                <input id="actuatorNameInput" type="text" name="name" ng-model="vm.clickedComponent.name" autocomplete="off">
                <!-- <span>Enter your full name here</span> -->
              </li>
              <li>
                <label for="type">Type</label>
                <input id="actuatorTypeInput" type="text" name="type" ng-model="vm.clickedComponent.type" autocomplete="off">
              </li>
              <li>
                <label for="adapter">Adapter</label>
                <input id="actuatorAdapterInput" type="text" name="adapter" ng-model="vm.clickedComponent.adapter" autocomplete="off">
              </li>
              <li>
                <label for="device">Device</label>
                <input id="actuatorDeviceInput" type="text" name="device" ng-model="vm.clickedComponent.device" autocomplete="off">
              </li>
              <!-- <li> <input type="submit" value="Send This"> </li> -->
            </ul>
          </div>
        </div>

        <div class="panel panel-default" style="margin: 5px;" ng-show="vm.clickedComponent.category == 'SENSOR'">
          <div class="panel-heading" style="text-align: center;">
            <h4 class="panel-title">SENSOR</h4>
          </div>

          <div id="sensorInfo" class="input-list">
            <ul>
              <li>
                <label for="name">Name</label>
                <input id="sensorNameInput" type="text" name="name" ng-model="vm.clickedComponent.name" autocomplete="off">
                <!-- <span>Enter your full name here</span> -->
              </li>
              <li>
                <label for="type">Type</label>
                <input id="sensorTypeInput" type="text" name="type" ng-model="vm.clickedComponent.type" autocomplete="off">
              </li>
              <li>
                <label for="adapter">Adapter</label>
                <input id="sensorAdapterInput" type="text" name="adapter" ng-model="vm.clickedComponent.adapter" autocomplete="off">
              </li>
              <li>
                <label for="device">Device</label>
                <input id="sensorDeviceInput" type="text" name="device" ng-model="vm.clickedComponent.device" autocomplete="off">
              </li>
              <!-- <li> <input type="submit" value="Send This"> </li> -->
            </ul>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>