<div class="row clearfix" ng-hide>
    <!-- List of Operators Card -->
    <div class="col-lg-12">
        <div class="card">
            <div class="header">
                <div class="col-lg-6">
                    <h2>Extraction/Control Operators
                        <small>These operators extract sensor data and/or send control commands to actuators</small>
                    </h2>
                </div>
                <div class="align-right">
                    <button id="add-button" type="button"
                            class="btn bg-blue btn-circle waves-effect waves-circle waves-float m-t-0"
                            data-toggle="modal" data-target="#addOperatorModal" data-backdrop="static"
                            data-keyboard="false">
                        <i class="material-icons">add</i>
                    </button>
                </div>
            </div>
            <div class="body">
                <div class="row">
                    <div class="col-lg-8"></div>
                    <div class="col-lg-4">
                        <div class="form-group list-filter">
                            <div class="input-group">
                                <div class="form-line">
                                    <input class="form-control ng-pristine ng-valid ng-touched"
                                           type="text" placeholder="Filter by name..."
                                           ng-model="operatorListCtrl.filterTerm">
                                </div>
                                <span class="input-group-addon">
                                    <button type="button" class="list-filter-clear"
                                            ng-show="operatorListCtrl.filterTerm.length > 0"
                                            ng-click="operatorListCtrl.filterTerm = ''">
                                        <i class="material-icons">clear</i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-hover" st-table="displayedCollection" st-safe-src="operatorListCtrl.items">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Data Model</th>
                        <th>Parameters</th>
                        <th>Owner</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="{{item.id}}" ng-repeat="item in displayedCollection | filter:operatorListCtrl.nameFilter">
                        <td ng-if="item.name.indexOf('TESTING_') === -1 && item.name.indexOf('RERUN_') === -1">
                            <span>{{item.name}}</span>&nbsp;
                            <i ng-show="item.defaultEntity" title="Default operator"
                               class="material-icons" style="vertical-align: bottom;">lock</i>
                        </td>
                        <td ng-if="item.name.indexOf('TESTING_') === -1 && item.name.indexOf('RERUN_') === -1">{{item.description}}</td>
                        <td ng-if="item.name.indexOf('TESTING_') === -1 && item.name.indexOf('RERUN_') === -1">{{item.dataModel.name ? item.dataModel.name : 'None'}}</td>
                        <td ng-if="item.name.indexOf('TESTING_') === -1 && item.name.indexOf('RERUN_') === -1">
                            <button ng-repeat-start="parameter in item.parameters"
                                    class="btn btn-default" role="button"
                                    data-html="true" data-toggle="popover"
                                    data-placement="top" title="{{parameter.name}}"
                                    data-content="<strong>Type:</strong> {{parameter.type}}<br/>
                                    <strong>Unit:</strong> {{parameter.unit ? parameter.unit : 'None'}}">
                                {{parameter.name}}
                            </button>
                            <span ng-repeat-end="">&nbsp;</span>
                        </td>
                        <td ng-if="item.name.indexOf('TESTING_') === -1 && item.name.indexOf('RERUN_') === -1">{{item.ownerName ? item.ownerName : "None"}}</td>
                        <td ng-if="item.name.indexOf('TESTING_') === -1 && item.name.indexOf('RERUN_') === -1">
                            <form ng-submit="deleteOperatorCtrl.deleteItem()" style="display: inline-block">
                                <button type="submit" ng-hide="item.defaultEntity"
                                        class="btn bg-red btn-circle waves-effect waves-circle waves-float"
                                        ng-click="deleteOperatorCtrl.item.id = item.id">
                                    <i class="material-icons" style="font-size:14px;">delete</i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    <tr ng-show="operatorListCtrl.items.length === 0 || simExists === 0 ">
                        <td>No operators registered.</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td class="text-center" st-pagination="" st-items-by-page="10" colspan="3">
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <!-- #END# List of Operators Card -->
    <!-- Modal -->
    <div class="modal fade" id="addOperatorModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Register a new operator
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h5>
                </div>
                <form id="addOperatorForm" ng-submit="addOperatorCtrl.addItem()">
                    <fieldset id="operator-form">
                        <div class="modal-body">
                            <!-- "global" error for addItem -->
                            <div class="form-group" ng-class="{'has-error' : addOperatorCtrl.item.errors.global}">
                                <span class="alert alert-danger"
                                      ng-show="addOperatorCtrl.item.errors.global"> {{addOperatorCtrl.item.errors.global}} </span>
                            </div>
                            <!-- item.name group -->
                            <div class="form-group" ng-class="{'has-error' : addOperatorCtrl.item.errors.name }">
                                <div class="form-line"
                                     ng-class="{'focused error' : addOperatorCtrl.item.errors.name }">
                                    <input class="form-control" id="operator-form-input-name" type="text"
                                           placeholder="Name *" ng-model="addOperatorCtrl.item.name"/>
                                </div>
                                <span class="help-block"
                                      ng-show="addOperatorCtrl.item.errors.name">{{addOperatorCtrl.item.errors.name}}</span>
                            </div>
                            <!-- item.description group -->
                            <div class="form-group"
                                 ng-class="{'has-error' : addOperatorCtrl.item.errors.description }">
                                <div class="form-line"
                                     ng-class="{'focused error' : addOperatorCtrl.item.errors.description }">
                                    <input class="form-control no-resize" placeholder="Describe this operator..."
                                           ng-model="addOperatorCtrl.item.description">
                                </div>
                                <span class="help-block"
                                      ng-show="addOperatorCtrl.item.errors.description">{{addOperatorCtrl.item.errors.description}}</span>
                            </div>
                            <!-- item.dataModel group -->
                            <div class="form-group" ng-class="{'has-error' : addOperatorCtrl.item.errors.dataModel}">
                                <div class="form-line"
                                     ng-class="{'focused error' : addOperatorCtrl.item.errors.dataModel}">
                                    <select class="form-control show-tick" id="operator-form-select-data-model"
                                            ng-model="addOperatorCtrl.item.dataModelId"
                                            ng-options="t.id as (t.name) for t in ctrl.dataModelList">
                                        <option value="">Select data model *
                                        <option/>
                                    </select>
                                </div>
                                <span class="help-block"
                                      ng-show="addOperatorCtrl.item.errors.dataModel">{{addOperatorCtrl.item.errors.dataModel}}</span>
                            </div>
                            <!-- item.routine group -->
                            <label>Operator scripts: *</label>
                            <div class="form-group" ng-class="{'has-error' : addOperatorCtrl.item.errors.routines }">
                                <div class="form-line"
                                     ng-class="{'focused error' : addOperatorCtrl.item.errors.routines }">
                                    <div class="dropzone" options="ctrl.dzRoutinesOptions"
                                         callbacks="ctrl.dzRoutinesCallbacks" methods="ctrl.dzMethods"
                                         ng-dropzone></div>
                                    <div style="display:none;">
                                        <div id='tpl' class="dz-preview dz-file-preview ">
                                            <div class="dz-details col-lg-4 col-sm-6 col-12">
                                                <div class="dz-filename"><span data-dz-name></span></div>
                                                <img data-dz-thumbnail/>
                                            </div>
                                            <div class="dz-progress"><span class="dz-upload"
                                                                           data-dz-uploadprogress></span></div>
                                            <div class="dz-success-mark"><span>✔</span></div>
                                            <div class="dz-error-mark"><span>✘</span></div>
                                            <div class="dz-error-message"><span data-dz-errormessage></span></div>
                                        </div>
                                    </div>
                                </div>
                                <span class="help-block"
                                      ng-show="addOperatorCtrl.item.errors.routines">{{addOperatorCtrl.item.errors.routines}}</span>
                            </div>
                            <!-- item.parameters group -->
                            <label>Parameters:</label>
                            <div class="form-group">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Type</th>
                                        <th>Unit</th>
                                        <th>Req.</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="parameter in ctrl.parameters">
                                        <td>
                                            <div class="form-line">
                                                <input class="form-control" type="text" placeholder="Name"
                                                       ng-model="parameter.name"/>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-line">
                                                <select class="form-control show-tick" ng-model="parameter.type">
                                                    <option value="" disabled>Select...</option>
                                                    <option ng-repeat="type in ctrl.parameterTypes"
                                                            value="{{type}}">
                                                        {{type}}
                                                    </option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-line">
                                                <input class="form-control" type="text" placeholder="Unit"
                                                       ng-model="parameter.unit"/>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-center" style="margin-top: 5px;">
                                                <input id="{{$index}}" type="checkbox" class="filled-in"
                                                       ng-model="parameter.mandatory">
                                                <label for="{{$index}}"> </label></div>
                                        </td>
                                        <td>
                                            <button ng-click="ctrl.deleteParameter($index)"
                                                    type="button" class="btn btn-default waves-effect btn-xs">
                                                <i class="material-icons">delete</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr ng-show="ctrl.parameters.length === 0">
                                        <td colspan="3">No parameters specified.</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="has-error" ng-show="addOperatorCtrl.item.errors.parameters">
                                    <span class="help-block">{{addOperatorCtrl.item.errors.parameters}}</span>
                                </div>
                                <div class="align-right">
                                    <button type="button"
                                            class="btn bg-mbp-light-salmon btn-circle waves-effect waves-circle waves-float"
                                            ng-click="ctrl.addParameter()">
                                        <i class="material-icons">add</i>
                                    </button>
                                </div>
                            </div>
                            <!-- item.accessControlPolicyIds group -->
                            <div class="form-group"
                                 ng-class="{'has-error' : addOperatorCtrl.item.errors.accessControlPolicyIds }">
                                <div class="form-line"
                                     ng-class="{'focused error' : addOperatorCtrl.item.errors.accessControlPolicyIds }">
                                    <select multiple class="form-control selectpicker" title="Access Control Policies"
                                            data-header="Access Control Policies"
                                            ng-model="addOperatorCtrl.item.accessControlPolicyIds"
                                            ng-options="p.id as (p.name) for p in ctrl.accessControlPolicyList">
                                    </select>
                                </div>
                                <span class="help-block"
                                      ng-show="addOperatorCtrl.item.errors.accessControlPolicyIds">{{addOperatorCtrl.item.errors.accessControlPolicyIds}}</span>
                            </div>
                            <span class="help-block" style="font-style: italic">Fields with * are mandatory.</span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary m-t-0 waves-effect" data-dismiss="modal">
                                Close
                            </button>
                            <button type="submit" class="btn btn-primary m-t-0 waves-effect">Register</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <!-- #END# Modal -->
</div>
