<div class="row clearfix" ng-hide>
    <!-- List of Policy Effects Card -->
    <div class="col-lg-12">
        <div class="card">
            <div class="header">
                <div class="col-lg-6">
                    <h2>Access-Control Policy Effects
                        <small>These policies control who can access what and to what extent</small>
                    </h2>
                </div>
                <div class="align-right">
                    <button id="add-button" type="button"
                        class="btn bg-blue btn-circle waves-effect waves-circle waves-float m-t-0" data-toggle="modal"
                        data-target="#addPolicyEffectModal" data-backdrop="static" data-keyboard="false">
                        <i class="material-icons">add</i>
                    </button>
                </div>
            </div>
            <div class="body">
                <table class="table table-hover" st-table="displayedCollection" st-safe-src="policyEffectListCtrl.items">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Owner</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="{{item.id}}" ng-repeat="item in displayedCollection">
                            <td>{{item.name}}</td>
                            <td>{{item.description}}</td>
                            <td>{{item.owner.username}}</td>
                            <td>
                                <form ng-submit="deletePolicyCtrl.deleteItem()" style="display: inline-block">
                                    <button type="submit" class="btn btn-danger m-t-0 waves-effect"
                                        ng-click="deletePolicyEffectCtrl.item.id = item.id"> Delete
                                    </button>
                                </form>
                            </td>
                        </tr>
                        <tr ng-show="policyEffectListCtrl.items.length === 0">
                            <td>No policy effects registered.</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="text-center" st-pagination="" st-items-by-page="10" colspan="3">
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <!-- #END# List of Policies Card -->
    <!-- Modal -->
    <div class="modal fade" id="addPolicyEffectModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Register a new Policy Effect
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h5>
                </div>
                <form id="addPolicyEffectForm" ng-submit="addPolicyEffectCtrl.addItem()">
                    <fieldset id="policy-effect-form">
                        <div class="modal-body">
                            <!-- "global" error for addItem -->
                            <div class="form-group" ng-class="{'has-error' : addPolicyEffectCtrl.item.errors.global}">
                                <span class="alert alert-danger" ng-show="addPolicyEffectCtrl.item.errors.global">
                                    {{addPolicyEffectCtrl.item.errors.global}} </span>
                            </div>
                            <!-- item.name group -->
                            <div class="form-group" ng-class="{'has-error' : addPolicyEffectCtrl.item.errors.name }">
                                <div class="form-line" ng-class="{'focused error' : addPolicyEffectCtrl.item.errors.name }">
                                    <input class="form-control" id="policy-form-input-name" type="text"
                                        placeholder="Name *" ng-model="addPolicyEffectCtrl.item.name" />
                                </div>
                                <span class="help-block"
                                    ng-show="addPolicyEffectCtrl.item.errors.name">{{addPolicyEffectCtrl.item.errors.name.message}}</span>
                            </div>
                            <!-- item.description group -->
                            <div class="form-group" ng-class="{'has-error' : addPolicyEffectCtrl.item.errors.description }">
                                <div class="form-line"
                                    ng-class="{'focused error' : addPolicyEffectCtrl.item.errors.description }">
                                    <input class="form-control" id="policy-form-input-description" type="text"
                                        placeholder="Description" ng-model="addPolicyEffectCtrl.item.description" />
                                </div>
                                <span class="help-block"
                                    ng-show="addPolicyEffectCtrl.item.errors.description">{{addPolicyEffectCtrl.item.errors.description.message}}</span>
                            </div>
                            <span class="help-block" style="font-style: italic">Fields with * are mandatory.</span>
                            <!-- item.type group -->
                            <div class="form-group" ng-class="{'has-error' : addPolicyEffectCtrl.item.errors.type }">
                                <div class="form-line"
                                     ng-class="{'focused error' : addPolicyEffectCtrl.item.errors.type }">
                                    <select class="form-control show-tick" ng-model="addPolicyEffectCtrl.item.type"
                                            ng-options="type.name for type in ctrl.policyEffectTypesList">
                                        <option disabled selected value>Select action type *</option>
                                    </select>
                                </div>
                                <span class="help-block" ng-show="addPolicyEffectCtrl.item.errors.type">{{addPolicyEffectCtrl.item.errors.type.message}}</span>
                            </div>
                            <!-- Switch for parameters of different action types -->
                            <div ng-switch="addPolicyEffectCtrl.item.type">
                                <div ng-switch-when="ACTUATOR_ACTION">
                                    <p>Executes an action on an actuator that is part of the
                                        IoT environment.</p>
                                    <br/>
                                    <!-- item.parameters[actuator] group -->
                                    <div class="form-group">
                                        <div class="form-line">
                                            <select class="form-control show-tick"
                                                    ng-model="addPolicyEffectCtrl.item.parameters['actuator']"
                                                    ng-options="actuator.id as (actuator.name) for actuator in ctrl.actuatorList">
                                                <option disabled selected value>Select actuator *</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- item.parameters[action] group -->
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input class="form-control" type="text" placeholder="Action topic suffix *"
                                                   ng-model="addPolicyEffectCtrl.item.parameters['action']"/>
                                        </div>
                                    </div>
                                    <!-- item.parameters[data] group -->
                                    <div class="form-group">
                                        <div class="form-line">
                                            <textarea class="form-control" type="text" rows="4"
                                                      placeholder="Additional data"
                                                      ng-model="addPolicyEffectCtrl.item.parameters['data']">
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                                <div ng-switch-when="IFTTT_WEBHOOK">
                                    <p>Triggers an
                                        <a href="https://ifttt.com/maker_webhooks" target="_blank">IFTTT webhook</a>
                                        that has been previously configured as part of an applet.</p>
                                    <br/>
                                    <!-- item.parameters[ifttt_key] group -->
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input class="form-control" type="text" placeholder="Personal IFTTT key *"
                                                   ng-model="addPolicyEffectCtrl.item.parameters['ifttt_key']"/>
                                        </div>
                                    </div>
                                    <!-- item.parameters[ifttt_name} group -->
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input class="form-control" type="text" placeholder="Event name *"
                                                   ng-model="addPolicyEffectCtrl.item.parameters['ifttt_name']"/>
                                        </div>
                                    </div>
                                </div>
                                <div ng-switch-when="COMPONENT_DEPLOYMENT">
                                    <p>Deploys or undeploys a component that is part of the IoT environment.</p>
                                    <br/>
                                    <!-- item.parameters[component] group -->
                                    <div class="form-group">
                                        <div class="form-line">
                                            <select class="form-control show-tick"
                                                    ng-options="(c.componentTypeName + '/' + c.id) as (c.name) group by c.type for c in ctrl.componentList"
                                                    ng-model="addPolicyEffectCtrl.item.parameters['component']">
                                                <option disabled selected value>Select component *</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- item.parameters[deploy} group -->
                                    <div class="form-group">
                                        <div ng-init="addPolicyEffectCtrl.item.parameters['deploy']='DEPLOY'">
                                            <input type="radio" id="deploy_deploy" class="with-gap"
                                                   ng-model="addPolicyEffectCtrl.item.parameters['deploy']"
                                                   value="DEPLOY">
                                            <label for="deploy_deploy">Deploy</label>
                                            <br/>
                                            <input type="radio" id="deploy_start" class="with-gap"
                                                   ng-model="addPolicyEffectCtrl.item.parameters['deploy']"
                                                   value="START">
                                            <label for="deploy_start">Deploy and start</label>
                                            <br/>
                                            <input type="radio" id="deploy_stop" class="with-gap"
                                                   ng-model="addPolicyEffectCtrl.item.parameters['deploy']"
                                                   value="STOP">
                                            <label for="deploy_stop">Stop</label>
                                            <br/>
                                            <input type="radio" id="deploy_undeploy" class="with-gap"
                                                   ng-model="addPolicyEffectCtrl.item.parameters['deploy']"
                                                   value="UNDEPLOY">
                                            <label for="deploy_undeploy">Stop and undeploy</label>
                                        </div>
                                    </div>
                                </div>
                                <div ng-switch-default></div>
                            </div>
                            <div class="form-group has-error" ng-show="addPolicyEffectCtrl.item.errors.parameters">
                                <span class="help-block">
                                    {{addPolicyEffectCtrl.item.errors.parameters.message}}
                                </span>
                            </div>
                            <span class="help-block" style="font-style: italic">Fields with * are mandatory.</span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary m-t-0 waves-effect"
                                data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary m-t-0 waves-effect">Register</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <!-- #END# Modal -->
</div>