<div class="row clearfix">
    <!-- Sensor Properties Card -->
    <div class="col-lg-6">
        <div class="card deployment-card">
            <div class="header"
                 ng-class="{'bg-red': componentDetailsCtrl.deploymentState=='NOT_READY', 'bg-green': componentDetailsCtrl.deploymentState=='READY', 'bg-cyan': componentDetailsCtrl.deploymentState=='DEPLOYED', 'bg-grey': componentDetailsCtrl.deploymentState=='UNKNOWN'}">
                <i class="material-icons" style="position: absolute; margin-top: 4px">settings_remote</i>
                <h2 style="margin-left: 35px;">
                    {{componentDetailsCtrl.component.name}}
                    <small>{{componentDetailsCtrl.deploymentState=='NOT_READY' ? 'Deployment impossible' :
                        (componentDetailsCtrl.deploymentState=='READY' ? 'Ready for deployment':
                        (componentDetailsCtrl.deploymentState=='DEPLOYED' ? 'Deployed' :
                        (componentDetailsCtrl.deploymentState=='UNKNOWN' ? 'Unknown state' : 'Loading...')))}}
                    </small>
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li>
                        <a ng-click="componentDetailsCtrl.updateDeploymentState()" class="clickable">
                            <i class="material-icons">refresh</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="body">
                <h4>Properties</h4>
                <table class="table table-hover">
                    <tbody>
                    <tr id="{{componentDetailsCtrl.component.id}}">
                        <th>Name:</th>
                        <td>{{componentDetailsCtrl.component.name}}
                        </td>
                    </tr>
                    <tr>
                        <th>Sensor type:</th>
                        <td>{{componentDetailsCtrl.component.componentType}}</td>
                    </tr>
                    <tr>
                        <th>Adapter:</th>
                        <td>{{componentDetailsCtrl.component._embedded.adapter.name}}</td>
                    </tr>
                    <tr>
                        <th>Unit:</th>
                        <td>{{componentDetailsCtrl.component._embedded.adapter.unit ?
                            componentDetailsCtrl.component._embedded.adapter.unit : 'None'}}
                        </td>
                    </tr>
                    <tr>
                        <th>Device:</th>
                        <td>{{componentDetailsCtrl.component._embedded.device.name}} (IP:
                            {{componentDetailsCtrl.component._embedded.device.ipAddress}})
                        </td>
                    </tr>
                    <tr>
                        <th>Device state:</th>
                        <td>
                            <div ng-switch="componentDetailsCtrl.deviceState"
                                 ng-click="componentDetailsCtrl.updateDeviceState()" class="clickable">
                                <div ng-switch-when="LOADING">
                                    <div class="preloader pl-size-xs">
                                        <div class="spinner-layer pl-blue">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-switch-when="OFFLINE">
                                    <span class="label label-danger">Unavailable</span>
                                </div>
                                <div ng-switch-when="ONLINE">
                                    <span class="label label-warning">No SSH</span>
                                </div>
                                <div ng-switch-when="SSH_AVAILABLE">
                                    <span class="label label-success">Available</span>
                                </div>
                                <div ng-switch-default>
                                    <span class="label label-default">Unknown</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br/>
                <h4>Deployment parameters</h4>
                <table class="table parameter-table">
                    <thead></thead>
                    <tbody>
                    <tr ng-repeat="parameter in componentDetailsCtrl.component._embedded.adapter.parameters">
                        <td>
                            <label>{{parameter.name}}:</label><br/>
                            <small ng-show="parameter.mandatory">(required)</small>
                        </td>
                        <td>
                            <div ng-switch="parameter.type">
                                <div ng-switch-when="Text">
                                    <input class="form-control" type="text"
                                           ng-required="parameter.mandatory"
                                           ng-model="componentDetailsCtrl.parameterValues[$index].value"/>
                                </div>
                                <div ng-switch-when="Number">
                                    <input class="form-control" type="number"
                                           ng-required="parameter.mandatory"
                                           ng-model="componentDetailsCtrl.parameterValues[$index].value"/>
                                </div>
                                <div class="switch" ng-switch-when="Switch">
                                    <label>No
                                        <input type="checkbox"
                                               ng-model="componentDetailsCtrl.parameterValues[$index].value">
                                        <span class="lever"></span>Yes</label>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span class="label bg-grey" ng-show="parameter.unit">{{parameter.unit}}</span>
                        </td>
                    </tr>
                    <tr ng-show="componentDetailsCtrl.component._embedded.adapter.parameters.length === 0">
                        <td colspan="2">No parameters required.</td>
                    </tr>
                    </tbody>
                </table>
                <div class="has-error" ng-show="ctrl.deployer.status.fieldErrors.parameters">
                    <span class="help-block focused error">{{ctrl.deployer.status.fieldErrors.parameters}}</span>
                </div>
                <br/>
                <div ng-show="componentDetailsCtrl.deploymentState=='READY'">
                    <button class="btn btn-primary waves-effect" ng-click="componentDetailsCtrl.deploy()">
                        Deploy sensor
                    </button>
                </div>
                <div ng-show="componentDetailsCtrl.deploymentState=='DEPLOYED'">
                    <button class="btn btn-warning waves-effect" ng-click="componentDetailsCtrl.undeploy()">
                        Undeploy sensor
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Sensor Stats Card -->
    <div class="col-lg-6">
        <div class="card stats-card">
            <div class="header">
                <h2>
                    Sensor values overview
                    <small>Overview about the values received from the sensor.</small>
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li>
                        <a ng-click="componentDetailsCtrl.updateValueLogStats()" class="clickable">
                            <i class="material-icons">refresh</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div ng-show="componentDetailsCtrl.valueLogStats.numberLogs == 0">
                    <p>No sensor values received yet.</p>
                </div>
                <div ng-show="componentDetailsCtrl.valueLogStats.numberLogs > 0">
                    <h4>Display unit</h4>
                    <div class="form-group">
                        <div class="form-line">
                            <unit-input ng-model="componentDetailsCtrl.displayUnitInput"
                                        unit-filter="{{componentDetailsCtrl.component._embedded.adapter.unit}}"></unit-input>
                        </div>
                        <span class="help-block" ng-show="false"></span><br/>
                        <button class="btn btn-primary m-t-0 waves-effect" ng-click="ctrl.onDisplayUnitChange()">
                            Update
                        </button>
                    </div>
                    <br/>
                    <h4>Value statistics</h4>
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>Number of values:</th>
                            <td>{{componentDetailsCtrl.valueLogStats.numberLogs}}</td>
                        </tr>
                        <tr>
                            <th>Average:</th>
                            <td>
                                {{componentDetailsCtrl.valueLogStats.average}}&nbsp;{{componentDetailsCtrl.displayUnit}}
                            </td>
                        </tr>
                        <tr>
                            <th>Variance:</th>
                            <td>{{componentDetailsCtrl.valueLogStats.variance}}&nbsp;
                                {{componentDetailsCtrl.displayUnit ? '(' + componentDetailsCtrl.displayUnit + ')&sup2;'
                                : ''}}
                            </td>
                        </tr>
                        <tr>
                            <th>Standard deviation:</th>
                            <td>{{componentDetailsCtrl.valueLogStats.standardDeviation}}&nbsp;{{(componentDetailsCtrl.displayUnit)}}</td>
                        </tr>
                        <tr>
                            <th>First value:</th>
                            <td>
                                <button uib-popover="{{componentDetailsCtrl.valueLogStats.firstLog.message}}"
                                        popover-title="{{componentDetailsCtrl.valueLogStats.firstLog.date}}"
                                        type="button"
                                        class="btn btn-default">
                                    {{componentDetailsCtrl.valueLogStats.firstLog.value}}
                                </button>
                                <span>&nbsp;{{(componentDetailsCtrl.displayUnit)}}</span>
                            </td>
                        </tr>
                        <tr>
                            <th>Last value:</th>
                            <td>
                                <button uib-popover="{{componentDetailsCtrl.valueLogStats.lastLog.message}}"
                                        popover-title="{{componentDetailsCtrl.valueLogStats.lastLog.date}}"
                                        type="button"
                                        class="btn btn-default">
                                    {{componentDetailsCtrl.valueLogStats.lastLog.value}}
                                </button>
                                <span>&nbsp;{{(componentDetailsCtrl.displayUnit)}}</span>
                            </td>
                        </tr>
                        <tr>
                            <th>Minimum value:</th>
                            <td>
                                <button uib-popover="{{componentDetailsCtrl.valueLogStats.minimumLog.message}}"
                                        popover-title="{{componentDetailsCtrl.valueLogStats.minimumLog.date}}"
                                        type="button"
                                        class="btn btn-default">
                                    {{componentDetailsCtrl.valueLogStats.minimumLog.value}}
                                </button>
                                <span>&nbsp;{{(componentDetailsCtrl.displayUnit)}}</span>
                            </td>
                        </tr>
                        <tr>
                            <th>Maximum value:</th>
                            <td>
                                <button uib-popover="{{componentDetailsCtrl.valueLogStats.maximumLog.message}}"
                                        popover-title="{{componentDetailsCtrl.valueLogStats.maximumLog.date}}"
                                        type="button"
                                        class="btn btn-default">
                                    {{componentDetailsCtrl.valueLogStats.maximumLog.value}}
                                </button>
                                <span>&nbsp;{{(componentDetailsCtrl.displayUnit)}}</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Live Values Card -->
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card live-chart-card animate-show-hide" ng-show="componentDetailsCtrl.deploymentState=='DEPLOYED'">
            <div class="header">
                <h2>
                    Live sensor values <i class="material-icons" style="color: red;">live_tv</i>
                </h2>
            </div>
            <div class="body">
                <live-chart loading-start="componentDetailsCtrl.liveChart.loadingStart()"
                            loading-finish="componentDetailsCtrl.liveChart.loadingFinish()"
                            get-data="componentDetailsCtrl.liveChart.getData(numberLogs, descending, unit)"
                            is-updateable="componentDetailsCtrl.liveChart.isUpdateable()"
                            unit="{{componentDetailsCtrl.displayUnit}}">
                </live-chart>
            </div>
        </div>
    </div>
</div>

<!-- Historical Values Card -->
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card historical-chart-card">
            <div class="header">
                <h2>
                    Historical sensor values
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li>
                        <a ng-click="historicalChartApi.updateChart()" class="clickable">
                            <i class="material-icons">refresh</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="body">
                <historical-chart api="historicalChartApi"
                            loading-start="componentDetailsCtrl.historicalChart.loadingStart()"
                            loading-finish="componentDetailsCtrl.historicalChart.loadingFinish()"
                            get-data="componentDetailsCtrl.historicalChart.getData(numberLogs, descending, unit)"
                            unit="{{componentDetailsCtrl.displayUnit}}">
                </historical-chart>
            </div>
        </div>
    </div>
</div>