<div class="row clearfix">
    <!-- Sensor Properties Card -->
    <div class="col-lg-7">
        <div class="card deployment-card">
            <div class="header"
                 ng-class="{'bg-red': componentDetailsCtrl.deploymentState=='NOT_READY', 'bg-green': componentDetailsCtrl.deploymentState=='READY', 'bg-cyan': componentDetailsCtrl.deploymentState=='DEPLOYED', 'bg-grey': componentDetailsCtrl.deploymentState=='UNKNOWN'}">
                <i class="material-icons" style="position: absolute; margin-top: 4px">settings_remote</i>
                <h2 style="margin-left: 35px;">
                    {{componentDetailsCtrl.component.name}}
                    <small>{{componentDetailsCtrl.deploymentState=='NOT_READY' ? 'Deployment impossible' :
                        (componentDetailsCtrl.deploymentState=='READY' ? 'Ready for deployment':
                        (componentDetailsCtrl.deploymentState=='DEPLOYED' ? 'Deployed' :
                        (componentDetailsCtrl.deploymentState=='UNKNOWN' ? 'Unknown state' : 'Loading...')))}}
                    </small>
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li>
                        <a ng-click="componentDetailsCtrl.updateDeploymentState()" class="clickable">
                            <i class="material-icons">refresh</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="body">
                <h4>Properties</h4>
                <table class="table table-hover">
                    <tbody>
                    <tr id="{{componentDetailsCtrl.component.id}}">
                        <th>Name:</th>
                        <td>{{componentDetailsCtrl.component.name}}
                        </td>
                    </tr>
                    <tr>
                        <th>Sensor type:</th>
                        <td>{{componentDetailsCtrl.component.componentType}}</td>
                    </tr>
                    <tr>
                        <th>Adapter:</th>
                        <td>{{componentDetailsCtrl.component._embedded.adapter.name}}</td>
                    </tr>
                    <tr>
                        <th>Device:</th>
                        <td>{{componentDetailsCtrl.component._embedded.device.name}} (IP:
                            {{componentDetailsCtrl.component._embedded.device.ipAddress}})
                        </td>
                    </tr>
                    <tr>
                        <th>Device state:</th>
                        <td>
                            <div ng-switch="componentDetailsCtrl.deviceState"
                                 ng-click="componentDetailsCtrl.updateDeviceState()" class="clickable">
                                <div ng-switch-when="LOADING">
                                    <div class="preloader pl-size-xs">
                                        <div class="spinner-layer pl-blue">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-switch-when="OFFLINE">
                                    <span class="label label-danger">Unavailable</span>
                                </div>
                                <div ng-switch-when="ONLINE">
                                    <span class="label label-warning">No SSH</span>
                                </div>
                                <div ng-switch-when="SSH_AVAILABLE">
                                    <span class="label label-success">Available</span>
                                </div>
                                <div ng-switch-default>
                                    <span class="label label-default">Unknown</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br/>
                <h4>Deployment parameters</h4>
                <table class="table parameter-table">
                    <thead></thead>
                    <tbody>
                    <tr ng-repeat="parameter in ctrl.component._embedded.adapter.parameters">
                        <td>
                            <label>{{parameter.name}}:</label><br/>
                            <small ng-show="parameter.mandatory">(required)</small>
                        </td>
                        <td>
                            <div ng-switch="parameter.type">
                                <div ng-switch-when="Text">
                                    <input class="form-control" type="text"
                                           ng-required="parameter.mandatory"
                                           ng-model="ctrl.parameterValues[$index].value"/>
                                </div>
                                <div ng-switch-when="Number">
                                    <input class="form-control" type="number"
                                           ng-required="parameter.mandatory"
                                           ng-model="ctrl.parameterValues[$index].value"/>
                                </div>
                                <div class="switch" ng-switch-when="Switch">
                                    <label>No
                                        <input type="checkbox"
                                               ng-model="ctrl.parameterValues[$index].value">
                                        <span class="lever"></span>Yes</label>
                                </div>
                            </div>
                        </td>
                        <td>
                                                <span class="label bg-grey"
                                                      ng-show="parameter.unit">{{parameter.unit}}</span>
                        </td>
                    </tr>
                    <tr ng-show="ctrl.component._embedded.adapter.parameters.length === 0">
                        <td colspan="2">No parameters required.</td>
                    </tr>
                    </tbody>
                </table>
                <div class="has-error" ng-show="ctrl.deployer.status.fieldErrors.parameters">
                                        <span class="help-block focused error">
                                            {{ctrl.deployer.status.fieldErrors.parameters}}
                                        </span>
                </div>
                <br/>
                <div ng-show="componentDetailsCtrl.deploymentState=='READY'">
                    <button class="btn btn-primary waves-effect" ng-click="componentDetailsCtrl.deploy()">
                        Deploy sensor
                    </button>
                </div>
                <div ng-show="componentDetailsCtrl.deploymentState=='DEPLOYED'">
                    <button class="btn btn-warning waves-effect" ng-click="componentDetailsCtrl.undeploy()">
                        Undeploy sensor
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-5">
        <div class="card stats-card">
            <div class="header">
                <h2>
                    Sensor values overview
                    <small>Overview about the values received from the sensor.</small>
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li>
                        <a ng-click="componentDetailsCtrl.updateValueLogStats()" class="clickable">
                            <i class="material-icons">refresh</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div ng-show="componentDetailsCtrl.valueLogStats.numberLogs == 0">
                    <p>No sensor values received yet.</p>
                </div>
                <div ng-show="componentDetailsCtrl.valueLogStats.numberLogs > 0">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>Number of values:</th>
                            <td>{{componentDetailsCtrl.valueLogStats.numberLogs}}</td>
                        </tr>
                        <tr>
                            <th>Average:</th>
                            <td>{{componentDetailsCtrl.valueLogStats.average}}</td>
                        </tr>
                        <tr>
                            <th>Variance:</th>
                            <td>{{componentDetailsCtrl.valueLogStats.variance}}</td>
                        </tr>
                        <tr>
                            <th>Standard deviation:</th>
                            <td>{{componentDetailsCtrl.valueLogStats.standardDeviation}}</td>
                        </tr>
                        <tr>
                            <th>First value:</th>
                            <td>
                                <button uib-popover="{{componentDetailsCtrl.valueLogStats.firstLog.message}}"
                                        popover-title="{{componentDetailsCtrl.valueLogStats.firstLog.date}}"
                                        type="button"
                                        class="btn btn-default">
                                    {{componentDetailsCtrl.valueLogStats.firstLog.value}}
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <th>Last value:</th>
                            <td>
                                <button uib-popover="{{componentDetailsCtrl.valueLogStats.lastLog.message}}"
                                        popover-title="{{componentDetailsCtrl.valueLogStats.lastLog.date}}"
                                        type="button"
                                        class="btn btn-default">
                                    {{componentDetailsCtrl.valueLogStats.lastLog.value}}
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <th>Minimum value:</th>
                            <td>
                                <button uib-popover="{{componentDetailsCtrl.valueLogStats.minimumLog.message}}"
                                        popover-title="{{componentDetailsCtrl.valueLogStats.minimumLog.date}}"
                                        type="button"
                                        class="btn btn-default">
                                    {{componentDetailsCtrl.valueLogStats.minimumLog.value}}
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <th>Maximum value:</th>
                            <td>
                                <button uib-popover="{{componentDetailsCtrl.valueLogStats.maximumLog.message}}"
                                        popover-title="{{componentDetailsCtrl.valueLogStats.maximumLog.date}}"
                                        type="button"
                                        class="btn btn-default">
                                    {{componentDetailsCtrl.valueLogStats.maximumLog.value}}
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-8">
        <div class="card animate-show-hide" ng-show="componentDetailsCtrl.deploymentState=='DEPLOYED'">
            <div class="header">
                <h2>
                    Live sensor values
                </h2>
            </div>
            <div class="body">
                <div id="liveValues" style="width:100%; height:400px;"></div>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-8">
        <div class="card">
            <div class="header">
                <h2>
                    Historical sensor values
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li>
                        <a ng-click="componentDetailsCtrl.updateHistoricalChart()" class="clickable">
                            <i class="material-icons">refresh</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div id="historicalValues" style="width:100%; height:400px;"></div>
            </div>
        </div>
    </div>
</div>