<div class="row clearfix" ng-hide>

    <!-- MQTT Broker settings card -->
    <div class="col-lg-5">
        <div class="card">
            <div class="header">
                <h2>
                    Settings
                </h2>
            </div>
            <div class="body">
                <form ng-submit="ctrl.saveSettings()">
                    <fieldset id="settings-form">
                        <h2 class="card-inside-title">MQTT Broker</h2>
                        <div class="row clearfix">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <span class="help-block">Please specify whether you want to use a local or a remote
                                        MQTT broker. If you change the settings, the MBP will adjust itself at runtime.
                                        However, already deployed sensors need to be redeployed.</span>
                                </div>
                                <div class="form-group">
                                    <div class="radio">
                                        <input type="radio" class="with-gap" id="broker_location_local"
                                               ng-model="ctrl.settings.brokerLocation"
                                               value="LOCAL"/>
                                        <label for="broker_location_local">Use local broker</label>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" class="with-gap" id="broker_location_remote"
                                               ng-model="ctrl.settings.brokerLocation"
                                               value="REMOTE"/>
                                        <label for="broker_location_remote">Use remote broker</label>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" class="with-gap" id="broker_location_secure"
                                               ng-model="ctrl.settings.brokerLocation"
                                               value="SECURE"/>
                                        <label for="broker_location_secure">Use broker with OAuth2</label>
                                    </div>
                                </div>
                                <div class="form-group" ng-show="ctrl.settings.brokerLocation=='REMOTE' || ctrl.settings.brokerLocation=='SECURE'">
                                    <div class="form-line">
                                        <input class="form-control" type="text" placeholder="Mqtt broker IP address"
                                               ng-model="ctrl.settings.brokerIPAddress"/>
                                    </div>
                                    <span class="help-block">IP address of the MQTT broker to use</span>
                                </div>
                                <div class="form-group align-right">
                                    <button type="submit" class="btn btn-primary m-t-15 waves-effect">
                                        Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <!-- Documentation card -->
    <div class="col-lg-5">
        <div class="card">
            <div class="header">
                <h2>
                    REST API Documentation
                </h2>
            </div>
            <div class="body">
                <h2 class="card-inside-title">Swagger documentation</h2>
                <div class="row clearfix">
                    <div class="col-xs-12">
                        <p ng-repeat="item in ctrl.documentationMetaData.swaggerURLs">
                            <a href="{{ctrl.documentationMetaData.contextPath + item.url}}" target="_blank">
                                {{item.description}}
                            </a>
                        </p>
                    </div>
                </div>
                <h2 class="card-inside-title">Export as...</h2>
                <div class="row clearfix">
                    <div class="col-xs-12">
                        <p ng-repeat="item in ctrl.documentationMetaData.exportURLs">
                            <a href="{{ctrl.documentationMetaData.contextPath + item.url}}" target="_blank">
                                {{item.description}}
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>