<div class="row clearfix" ng-hide>

    <!-- Register Device Card -->
    <div class="col-lg-5">
        <div class="card">
            <div class="header">
                <h2>
                    Settings
                </h2>
            </div>
            <div class="body">
                <form>
                    <fieldset id="settings-form">
                        <h2 class="card-inside-title">MBP configuration</h2>
                        <div class="row clearfix">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input class="form-control" id="settings-form-input-broker"  type="text" placeholder="Mosquitto Broker URL"/>
                                    </div>
                                    <span class="help-block">Enter URL of the Mosquitto broker to be used</span>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <!-- buttons -->
                                <div class="form-group align-right">
                                    <button type="submit" class="btn btn-primary m-t-15 waves-effect">
                                        Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <!-- #END# Register Device Card -->
</div>