<div class="row clearfix" ng-hide="ng-hide">

    <div class="col-lg-12">
        <div class="card">
            <div class="header">
                <h2>
                    Registered users
                </h2>
            </div>
            <div class="body">
                <table class="table table-hover" st-table="displayedCollection" st-safe-src="userListCtrl.items">
                    <thead>
                    <tr>
                        <th>Username</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="{{user.id}}" ng-repeat="user in displayedCollection">
                        <td>{{user.username}}&nbsp;<i ng-show="user.isAdmin" class="material-icons"
                                                      style="vertical-align: bottom;">star</i></td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>
                            <form ng-submit="deleteUserCtrl.deleteItem()" style="display: inline-block">
                                <button type="submit" ng-hide="user.isSystemUser"
                                        class="btn bg-red btn-circle waves-effect waves-circle waves-float"
                                        ng-click="deleteUserCtrl.item.id = user.id">
                                    <i class="material-icons" style="font-size:14px;">delete</i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    <tr ng-show="userListCtrl.items.length === 0">
                        <td>No users available.</td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td class="text-center" st-pagination="" st-items-by-page="10" colspan="4"></td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>