<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar" th:fragment="left-sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    <img src="images/user.png" width="48" height="48" alt="User" />
                </div>
                <div class="info-container">
                    <div class="user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Normal User</div>
                    <!--<div class="email">john.doe@example.com</div>-->
                    <div class="btn-group user-helper-dropdown">
                        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);"><i class="material-icons">person</i>Go Expert</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="active">
                        <a th:href="@{index}">
                            <i class="material-icons">home</i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{sensor}">
                            <i class="material-icons">settings_remote</i>
                            <span>Sensor</span>
                        </a>                        
                    </li>
                    <li>
                        <a th:href="@{actuator}">
                            <i class="material-icons">wb_incandescent</i>
                            <span>Actuator</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    &copy; 2016 <a href="javascript:void(0);">Sensmonqtt</a>.
                </div>
                <!--<div class="version">
                    <b>Version: </b> 0.2.0
                </div>-->
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
    </body>
</html>
