<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar" th:fragment="left-sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    <img src="images/user.png" width="48" height="48" alt="User" />
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Normal User</div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="active">
                        <a th:href="@{home}">
                            <i class="material-icons">home</i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{sensors}">
                            <i class="material-icons">settings_remote</i>
                            <span>Sensors</span>
                        </a>                        
                    </li>
                    <li>
                        <a th:href="@{actuators}">
                            <i class="material-icons">wb_incandescent</i>
                            <span>Actuators</span>
                        </a>
                    </li>
                    <li th:if="${session.userExpert}">
                        <a th:href="@{devices}">
                            <i class="material-icons">devices</i>
                            <span>Devices</span>
                        </a>
                    </li>
                    <li th:if="${session.userExpert}">
                        <a th:href="@{types}">
                            <i class="material-icons">description</i>
                            <span>Types</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    &copy; 2016 <a href="javascript:void(0);">Sensmonqtt</a>.
                </div>
                <!--<div class="version">
                    <b>Version: </b> 0.2.0
                </div>-->
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
    </body>
</html>
