<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!-- Right Sidebar -->
        <aside id="rightsidebar" class="right-sidebar" th:fragment="right-sidebar">
            <ul class="nav nav-tabs tab-nav-right" role="tablist">
                <li role="presentation" class="active"><a href="#settings" data-toggle="tab">SETTINGS</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="settings">
                    <div class="demo-settings">
                        <p>GENERAL SETTINGS</p>
                        <ul class="setting-list">
                            <li th:if="${session.userExpert == null || !session.userExpert}">
                                <span><a th:href="@{goExpert}">Change to Expert User</a></span>
                            </li>
                            <li th:if="${session.userExpert != null && session.userExpert}">
                                <span><a th:href="@{leaveExpert}">Change to Normal User</a></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </aside>
        <!-- #END# Right Sidebar -->
</html>
