<div>
    <!-- List Card -->
    <div class="col-lg-12">
        <div class="card">
            <div class="header">
                <div class="col-lg-6">
                    <h2>Rule Conditions<small>Conditions to trigger yours rules</small></h2>
                </div>
                <div class="align-right">
                    <button id="add-button" type="button" data-toggle="collapse" data-target="#add-trigger-card"
                            class="btn bg-blue btn-circle waves-effect waves-circle waves-float">
                        <i class="material-icons">add</i>
                    </button>
                </div>
            </div>
            <div class="body">
                <div class="row">
                    <div class="col-lg-8"></div>
                    <div class="col-lg-4">
                        <div class="form-group list-filter">
                            <div class="input-group">
                                <div class="form-line">
                                    <input class="form-control ng-pristine ng-valid ng-touched"
                                           type="text" placeholder="Filter by name..."
                                           ng-model="ruleTriggerListCtrl.filterTerm">
                                </div>
                                <span class="input-group-addon">
                                    <button type="button" class="list-filter-clear"
                                            ng-show="ruleTriggerListCtrl.filterTerm.length > 0"
                                            ng-click="ruleTriggerListCtrl.filterTerm = ''">
                                        <i class="material-icons">clear</i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-hover" st-table="displayedCollection" st-safe-src="ruleTriggerListCtrl.items">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Query</th>
                        <th>Owner</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="{{item.id}}" ng-repeat="item in displayedCollection | filter:ruleTriggerListCtrl.nameFilter"  ng-if="item.name.indexOf('RERUN_') === -1">
                        <td>
                            {{item.name}}
                        </td>
                        <td>
                            <div ng-if="item.description">
                                <a class="clickable" data-toggle="collapse" data-target="#description-{{item.id}}">
                                    Show Description
                                </a>
                                <div id="description-{{item.id}}" class="collapse">
                                    <span>{{item.description}}</span>
                                </div>
                            </div>
                            <div ng-if="!item.description">
                                <span>None</span>
                            </div>
                        </td>
                        <td>
                            <div>
                                <a class="clickable" data-toggle="collapse" data-target="#query-{{item.id}}">
                                    Show Query
                                </a>
                                <div id="query-{{item.id}}" class="collapse">
                                    <code>{{item.query}}</code>
                                </div>
                            </div>
                        </td>
                        <td>{{item.ownerName ? item.ownerName : "None"}}</td>
                        <td>
                            <form ng-submit="deleteRuleTriggerCtrl.deleteItem()"
                                  style="display: inline-block">
                                <button type="submit" class="btn bg-red btn-circle waves-effect waves-circle waves-float"
                                        ng-click="deleteRuleTriggerCtrl.item.id = item.id">
                                    <i class="material-icons" style="font-size:14px;">delete</i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    <tr ng-show="ruleTriggerListCtrl.items.length === 0">
                        <td>No rule conditions registered.</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td class="text-center" st-pagination="" st-items-by-page="10" colspan="4"></td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <!-- Add trigger card -->
    <div class="col-lg-12">
        <div id="add-trigger-card" class="card collapse">
            <div class="header">
                <div class="col-lg-6">
                    <h2>Add condition</h2>
                </div>
            </div>
            <div class="body">
                <div id="add-trigger-wizard">
                    <h1>Condition data</h1>
                    <section>
                        <p>Please provide a name and an optional description for the new rule condition.</p><br/>
                        <!-- item.name group -->
                        <div class="form-group">
                            <div class="form-line">
                                <input id="trigger-name" class="form-control" type="text" placeholder="Name"/>
                            </div>
                            <span class="help-block"></span>
                        </div>
                        <!-- item.description group -->
                        <div class="form-group">
                            <div class="form-line">
                                    <textarea id="trigger-description" class="form-control" type="text"
                                              placeholder="Describe this condition if you like..." rows="4"></textarea>
                            </div>
                            <span class="help-block"></span>
                        </div>
                    </section>
                    <h1>Condition pattern</h1>
                    <section>
                        <cep-query-editor api="ctrl.queryEditorApi"
                                          component-list="ctrl.componentList"></cep-query-editor>
                    </section>
                    <h1>Refinement</h1>
                    <section>
                        <div id="create-errors" class="alert alert-danger alert-dismissible">
                            <button type="button" class="close"><span aria-hidden="true">&times;</span></button>
                            <p><strong>Errors occurred:</strong></p>
                            <ul class="minus-list"></ul>
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <textarea id="trigger-query" class="form-control" type="text" rows="4"></textarea>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>