<div class="row clearfix" ng-hide="ng-hide">
    <div class="col-lg-12">
        <div class="card">
            <div class="header">
                <h2>
                    Registered users
                </h2>
            </div>
            <div class="body">
                <table class="table table-hover" st-table="displayedCollection" st-safe-src="userListCtrl.items">
                    <thead>
                    <tr>
                        <th>Username</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th style="text-align:center;">Admin</th>
                        <th style="text-align:center;">System user</th>
                        <th style="text-align:center;">Login possible</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="{{user.id}}" ng-repeat="user in displayedCollection">
                        <td>{{user.username}}&nbsp</td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td style="text-align:center;">
                            <i class="material-icons">{{user.isAdmin ? "done" : "clear"}}</i>
                        </td>
                        <td style="text-align:center;">
                            <i class="material-icons">{{user.isSystemUser ? "done" : "clear"}}</i>
                        </td>
                        <td style="text-align:center;">
                            <i class="material-icons">{{user.isLoginable ? "done" : "clear"}}</i>
                        </td>
                        <td>
                            <button class="btn bg-primary btn-circle waves-effect waves-circle waves-float"
                                    ng-click="ctrl.newPassword.userId = user.id; ctrl.showPasswordModal()">
                                <i class="material-icons" style="font-size:14px;">edit</i>
                            </button>
                            <button ng-hide="user.isSystemUser || user.isAdmin"
                                    class="btn bg-primary btn-circle waves-effect waves-circle waves-float"
                                    ng-click="ctrl.promoteUser(user.id)">
                                <i class="material-icons" style="font-size:14px;">star</i>
                            </button>
                            <button ng-hide="user.isSystemUser || (!user.isAdmin)"
                                    class="btn bg-primary btn-circle waves-effect waves-circle waves-float"
                                    ng-click="ctrl.degradeUser(user.id)">
                                <i class="material-icons" style="font-size:14px;">star_border</i>
                            </button>
                            <form ng-submit="deleteUserCtrl.deleteItem()" style="display: inline-block">
                                <button type="submit" ng-hide="user.isSystemUser"
                                        class="btn bg-red btn-circle waves-effect waves-circle waves-float"
                                        ng-click="deleteUserCtrl.item.id = user.id">
                                    <i class="material-icons" style="font-size:14px;">delete</i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    <tr ng-show="userListCtrl.items.length === 0">
                        <td colspan="7">No users available.</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td class="text-center" st-pagination="" st-items-by-page="10" colspan="7"></td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Change user password
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h5>
                </div>
                <form ng-submit="ctrl.changePassword()">
                    <fieldset>
                        <div class="modal-body">
                            <!-- item.name group -->
                            <div class="form-group" ng-class="{'has-error' : ctrl.newPassword.error }">
                                <div class="form-line"
                                     ng-class="{'focused error' : ctrl.generation.error }">
                                    <input type="password" class="form-control"
                                           placeholder="New password" ng-model="ctrl.newPassword.password"/>
                                </div>
                                <span class="help-block"
                                      ng-show="ctrl.generation.error">{{ctrl.newPassword.error}}</span>
                            </div>
                            <span class="help-block" style="font-style: italic">Fields with * are mandatory.</span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary m-t-0 waves-effect" data-dismiss="modal">
                                Close
                            </button>
                            <button type="submit" class="btn btn-primary m-t-0 waves-effect">Update password</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <!-- #END# Modal -->
</div>