[Unit]
Description=Connde discovery service
Documentation=https://github.com/Rossojo/connde
After=network.target mongodb.service bluetooth.target
Wants=mongodb.service bluetooth.service

[Service]
Type=simple
ExecStartPre=-chmod 666 /var/run/sdp
ExecStart=python3 /opt/conndediscovery/conndediscovery.py

[Install]