[Unit]
Description=Connde discovery service
Documentation=https://github.com/Rossojo/connde
After=network.target mongodb.service bluetooth.target
Wants=mongodb.service bluetooth.service

[Service]
Type=simple
ExecStart=/opt/conndediscovery/conndediscovery.sh
Restart=always

[Install]
WantedBy=multi-user.target