[Unit]
Description=Connde advertising service
Documentation=https://github.com/Rossojo/connde
After=network.target bluetooth.target

[Service]
Type=simple
ExecStart=/opt/conndeadvertise/conndeadvertise.sh
Restart=always

[Install]
WantedBy=multi-user.target