[Unit]
Description=RMP discovery service
Documentation=https://github.com/Rossojo/connde
After=network.target mongodb.service bluetooth.service
Requires=mongodb.service bluetooth.service

[Service]
Type=simple
ExecStart=/opt/rmpdiscovery/rmpdiscovery.sh
Restart=always

[Install]
WantedBy=multi-user.target