[Unit]
Description=RMP value logger
Documentation=https://github.com/Rossojo/connde
After=mosquitto.service
Requires=mosquitto.service

[Service]
Type=simple
ExecStart=/opt/rmp/rmpvaluelogger.sh
Restart=always

[Install]
WantedBy=multi-user.target