<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    <head>
        <title>Greeting</title>
    </head>
    <body>
        <!-- /* Content of this page will be decorated by the elements of layout.html (layout) */ -->
        <div layout:fragment="content"  ng-app="sensmonqtt">
            <h1>Greeting</h1>
            <div ng-controller="greet" ng-cloak class="ng-cloak">
                <p>The ID is {{greeting.id}}</p>
                <p>The content is {{greeting.content}}</p>
            </div>
        </div>
        <div layout:fragment="content-js">
            <script th:src="@{/js/angular/hello.js}"></script>
        </div>
    </body>
</html>