<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    <head>
        <title>Actuators</title>
    </head>
    <body>
        <!-- /* Content of this page will be decorated by the elements of layout.html (layout) */ -->
        <div layout:fragment="content"  ng-app="app">
            <h1>Actuators</h1>

            <div class="row clearfix ng-cloak" ng-cloak ng-controller="actuatorCtrl as ctrl">
                <!-- List of Actuators Card -->
                <div class="col-lg-7">
                    <div class="card">
                        <div class="header">
                            <h2>
                                LIST OF ACTUATORS
                            </h2>
                        </div>
                        <div class="body">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Type</th>
                                        <th>Device</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody ng:repeat="i in ctrl.actuators">
                                    <tr ng-class="{'bg-success' : i.newborn}">
                                        <td>
                                            {{i.name}}
                                        </td>
                                        <td>
                                            {{i.type}}
                                        </td>
                                        <td>
                                            <a href="{{i._links.device.href}}">
                                                device
                                            </a>
                                        </td>
                                        <td>
                                            {{i.status}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- #END# List of Actuators Card -->

                <!-- Register Actuators Card -->
                <div class="col-lg-5">
                    <div class="card">
                        <div class="header">
                            <h2>
                                REGISTER
                            </h2>
                        </div>
                        <div class="body">
                            <form ng-submit="ctrl.addActuator()">
                                <fieldset id="actuator-form">
                                    <h2 class="card-inside-title">New Actuator</h2>
                                    <div class="row clearfix">
                                        <div class="col-xs-12">
                                            <!-- "global" error for addDevice -->
                                            <div class="form-group" ng-class="{'has-error' : ctrl.actuator.errors.global}">
                                                <span class="alert alert-danger" ng-show="ctrl.actuator.errors.global"> {{ctrl.actuator.errors.global}} </span>
                                            </div>
                                            <!-- actuator.name group -->
                                            <div class="form-group" ng-class="{'has-error' : ctrl.actuator.errors.name }">
                                                <div class="form-line">
                                                    <input id="actuator-form-input-name"  type="text" class="form-control" placeholder="Name" ng-model="ctrl.actuator.name" />
                                                </div>
                                                <span class="help-block" ng-show="ctrl.actuator.errors.name">{{ctrl.actuator.errors.name.message}}</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-9">
                                            <!-- actuator.device group -->
                                            <div class="form-group" ng-class="{'has-error' : ctrl.actuator.errors.device }">
                                                <div class="form-line">
                                                    <select class="form-control show-tick" id="actuator-form-select-device" ng-model="ctrl.actuator.device" ng-options="d._links.self.href as (d.name +       ' - ' +       d.formattedMacAddress) for d in ctrl.devices">
                                                        <option value="">Select Device<option />
                                                    </select>
                                                </div>
                                                <span class="help-block" ng-show="ctrl.actuator.errors.device">{{ctrl.actuator.errors.device.message}}</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <!-- add device button -->
                                            <div class="form-group align-right">
                                                <button id="toggle-device-form" type="button" class="btn bg-light-green btn-circle waves-effect waves-circle waves-float">
                                                    <i class="material-icons">add_to_queue</i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <!-- buttons -->
                                            <div class="form-group align-right">
                                                <button type="submit" class="btn btn-primary m-t-15 waves-effect">
                                                    REGISTER
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                            <form ng-submit="ctrl.addDevice()">
                                <fieldset id="device-form" class="hidden">
                                    <h3 class="card-inside-title">
                                        New Device
                                    </h3>
                                    <div class="row clearfix">
                                        <div class="col-sm-12">
                                            <!-- "global" error for addDevice -->
                                            <div class="form-group" ng-class="{'has-error' : ctrl.device.errors.global}">
                                                <span class="alert alert-danger" ng-show="ctrl.device.errors.global"> {{ctrl.device.errors.global}} </span>
                                            </div>
                                            <!-- device.name group -->
                                            <div class="form-group" ng-class="{'has-error' : ctrl.device.errors.name}">
                                                <div class="form-line" ng-class="{'focused error' : ctrl.device.errors.name}">
                                                    <input class="form-control" id="device-form-input-name" type="text"  placeholder="Name" ng-model="ctrl.device.name" />
                                                </div>
                                                <span class="help-block" ng-show="ctrl.device.errors.name.message"> {{ctrl.device.errors.name.message}} </span>
                                            </div>
                                            <!-- device.macAddress group -->
                                            <div class="form-group" ng-class="{'has-error' : ctrl.device.errors.macAddress}">
                                                <div class="form-line" ng-class="{'focused error' : ctrl.device.errors.macAddress}">
                                                    <input id="device-form-input-mac-address" type="text" class="form-control mac-address" placeholder="MAC Address" ng-model="ctrl.device.formattedMacAddress" />
                                                </div>
                                                <span class="help-block" ng-show="ctrl.device.errors.macAddress.message"> {{ctrl.device.errors.macAddress.message}} </span>
                                            </div>
                                            <!-- buttons -->
                                            <div class="form-group align-right">
                                                <button id="detoggle-device-form"
                                                        type="button" class="btn btn-default m-t-15 waves-effect">CANCEL</button>
                                                <button type="submit" class="btn btn-primary m-t-15 waves-effect">REGISTER DEVICE</button>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- #END# Register Actuators Card -->
            </div>
        </div>
        <section layout:fragment="content-js">
            <!-- Dropzone Plugin Js -->
            <script th:src="@{/plugins/dropzone/dropzone.js}"></script>

            <!-- Input Mask Plugin Js -->
            <script th:src="@{/plugins/jquery-inputmask/jquery.inputmask.bundle.js}"></script>

            <!-- Multi Select Plugin Js -->
            <script th:src="@{/plugins/multi-select/js/jquery.multi-select.js}"></script>

            <!-- Jquery Spinner Plugin Js -->
            <script th:src="@{/plugins/jquery-spinner/js/jquery.spinner.js}"></script>

            <!-- Bootstrap Tags Input Plugin Js -->
            <script th:src="@{/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js}"></script>

            <!-- noUISlider Plugin Js -->
            <script th:src="@{/plugins/nouislider/nouislider.js}"></script>

            <!-- Angular -->
            <script th:src="@{/js/app.js}"></script>
            <script th:src="@{/js/services/RetrieverService.js}"></script>
            <script th:src="@{/js/services/Device.js}"></script>
            <script th:src="@{/js/services/Actuator.js}"></script>
            <script th:src="@{/js/controllers/actuators/ActuatorCtrl.js}"></script>

            <script>
                function scrollTo(dest) {
                    $('html,body').animate({scrollTop: $(dest).offset().top}, 'slow');
                }

                function toggleDeviceForm() {
                    $("#actuator-form").attr("disabled", "disabled");
                    $("#device-form").removeClass("hidden");
                    $("#device-form-input-name").focus();
                    scrollTo($("#device-form"));
                }

                function detoggleDeviceForm() {
                    $("#actuator-form").removeAttr("disabled");
                    $("#device-form").addClass("hidden");
                    $("#actuator-form-select-device").focus();
                    scrollTo($("#actuator-form"));
                }

                $(document).ready(function () {
                    $("#toggle-device-form").click(toggleDeviceForm);
                    $("#detoggle-device-form").click(detoggleDeviceForm);
                    // MAC Address input mask
                    $(".mac-address").inputmask('##-##-##-##-##-##', {placeholder: '__-__-__-__-__-__'});
                });
            </script>
        </section>
    </body>
</html>