<div class="row clearfix">
    <div class="col-lg-12">
        <div class="row clearfix">
            <!-- ACTUATORS COUNT -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <div class="icon bg-lime">
                        <i class="material-icons">wb_incandescent</i>
                    </div>
                    <div class="content">
                        <div class="text">ACTUATORS</div>
                        <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">{{ctrl.countActuators}}</div>
                    </div>
                </div>
            </div>

            <!-- SENSORS COUNT -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <div class="icon bg-yellow">
                        <i class="material-icons">settings_remote</i>
                    </div>
                    <div class="content">
                        <div class="text">SENSORS</div>
                        <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">{{ctrl.countSensors}}</div>
                    </div>
                </div>
            </div>

            <!-- DEVICES COUNT -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"  ng-show="expert">
                <div class="info-box">
                    <div class="icon bg-amber">
                        <i class="material-icons">devices</i>
                    </div>
                    <div class="content">
                        <div class="text">DEVICES</div>
                        <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">{{ctrl.countDevices}}</div>
                    </div>
                </div>
            </div>

            <!-- TYPES COUNT -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"  ng-show="expert">
                <div class="info-box">
                    <div class="icon bg-orange">
                        <i class="material-icons">description</i>
                    </div>
                    <div class="content">
                        <div class="text">TYPES</div>
                        <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">{{ctrl.countTypes}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <!-- ACTUATOR LOG CARD -->
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            ACTUATORS VALUES
                        </h2>
                    </div>
                    <div class="body">
                        <p>
                            The value field is parsed from the message received, so it 
                            may not be present. The raw message will be linked on the 
                            value field.
                        </p>
                        <table  class="table table-hover">
                            <thead>
                            <th>ID</th>
                            <th>Value</th>
                            <th>Date</th>
                            </thead>
                            <tbody>
                                <tr id="{{v.id}}" ng-repeat="v in ctrl.actuatorValues">
                                    <td>
                                        <a ng-href="{{'view/actuators/' + v.idref}}">{{v.idref}}</a>
                                    </td>
                                    <td>
                                        <button uib-popover="{{v.message}}" popover-title="{{'Raw Message'}}" type="button" class="btn btn-default">
                                            {{v.value ? v.value : '-'}}
                                        </button>
                                    </td>
                                    <td>{{v.date}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- SENSOR LOG CARD -->
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            SENSORS VALUES
                        </h2>
                    </div>
                    <div class="body">
                        <p>
                            The value field is parsed from the message received, so it 
                            may not be present. The raw message will be linked on the 
                            value field.
                        </p>
                        <table  class="table table-hover">
                            <thead>
                            <th>ID</th>
                            <th>Value</th>
                            <th>Date</th>
                            </thead>
                            <tbody>
                                <tr id="{{v.id}}" ng-repeat="v in ctrl.sensorValues">
                                    <td>
                                        <a ng-href="{{'view/sensors/' + v.idref}}">{{v.idref}}</a>
                                    </td>
                                    <td>
                                        <button uib-popover="{{v.message}}" popover-title="{{'Raw Message'}}" type="button" class="btn btn-default">
                                            {{v.value ? v.value : '-'}}
                                        </button>
                                    </td>
                                    <td>{{v.date}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>