.cep-query-editor {
    margin: 5px;
    width: 100%;
    user-select: none;
}

.cep-query-editor .pattern-container {
    width: 100%;
    min-height: 90px;
    background: #788992;
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 5px;
    text-align: center;
}

.cep-query-editor .pattern-container.dragging {
    border: 2px dashed black;
}

.cep-query-editor .pattern-container:empty {
    font-size: 30px;
    color: white;
    padding-top: 20px;
}

.cep-query-editor .pattern-container:empty:before {
    content: "Please drop events here.";
}

.cep-query-editor .component-category ul.options {
    float: right;
}

.cep-query-editor .component-category .title {
    width: 100%;
    display: block;
    font-size: 16px;
    font-style: italic;
    border-bottom: 1px solid rgba(204, 204, 204, 0.35);
    padding: 2px;
}

.cep-query-editor .component-category .component-list {
    clear: right;
    width: 100%;
    display: block;
}

.cep-query-editor .component, .cep-query-editor .component-placeholder, .cep-query-editor .operator{
    display: inline-block;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    vertical-align: top;
}

.cep-query-editor .component, .cep-query-editor .component-placeholder {
    width: 80px;
    height: 80px;
    margin: 5px;
}

.cep-query-editor .component {
    padding-top: 12px;
    font-size: 12px;
    color: black;
    background-color: white;
    padding-left: 2px;
    padding-right: 2px;
    cursor: pointer;
}

.cep-query-editor .pattern-container .component:hover {

}

.cep-query-editor .component .material-icons {
    font-size: 34px;
}

.cep-query-editor .component span{
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    display: inline-block;
    max-height: 29px;
    line-height: 15px;
}

.cep-query-editor .component-placeholder {
    padding-top: 4px;
    font-size: 50px;
    color: grey;
    border: 1px dashed #333;
    background-color: white;
}

.cep-query-editor .component-placeholder:before {
    content: "+";
}

.cep-query-editor .operator{
    margin-top: 30px;
    padding: 5px;
    font-weight: bold;
    min-width: 45px;
    cursor: pointer;
}

.cep-query-editor .operator.and{
    color: white;
    background-color: #3F51B5;
}

.cep-query-editor .operator.and:before{
    content: "And";
}

.cep-query-editor .operator.or{
    color: white;
    background-color: #009688;
    margin-left: 10px;
    margin-right: 10px;
}

.cep-query-editor .operator.or:before{
    content: "Or";
}

.cep-query-editor .operator.before{
    color: white;
    background-color: #9C27B0;
    margin-left: 20px;
    margin-right: 20px;
}

.cep-query-editor .operator.before:after{
    content: "Before";
}

.cep-query-editor .details-container{
    margin-top: 20px;
}