.row.equal {
  display: flex;
  flex-wrap: wrap;
}

.row > .GF_flexCol {
  display: flex;
}

.GF_cardbody{
	height: 100%;
    display: table;
}

.GF_cardbody > .GF_div{
	vertical-align: middle;
    display: table-cell;
}