/* Rotate collapse icons */
li a.collapsed i.material-icons, .panel .panel-heading .panel-title a.collapsed i.material-icons {
    transform: rotate(90deg);
}

/* Enable rotation animation */
li a i.material-icons, .panel .panel-heading .panel-title a i.material-icons {
    transition: .3s transform ease-in-out;
}

/* Scrollable drop down */
.dropdown-scrollable {
    height: auto;
    max-height: 350px;
    overflow-x: hidden;
}

/* Parameter tables*/
table.parameter-table td {
    vertical-align: middle !important;
}

/* Vertical align */
.vertical-align {
    vertical-align: middle !important;
}

/* unused atm */
.btn-icon {
    background-color: transparent;
    border-color: transparent;
    margin-top: -4px;
}

/* Fore more beautiful select pickers */
.btn-no-shadow {
    box-shadow: none !important;
}

/* Clickable elements */
.clickable {
    cursor: pointer;
}

/* Bullet point lists with a trailing minus  */
ul.minus-list {
    padding-left: 5px;
}

ul.minus-list li:before {
    content: "- ";
}

/* Override input resizing of the Easy Autocomplete plugin */
.easy-autocomplete {
    width: 100% !important
}

.easy-autocomplete input {
    width: 100%;
}