/* Scrollable drop down */
.dropdown-scrollable {
    height: auto;
    max-height: 350px;
    overflow-x: hidden;
}

/* Parameter tables*/
table.parameter-table td {
    vertical-align: middle !important;
}

/* Vertical align */
.vertical-align {
    vertical-align: middle !important;
}

/* unused atm */
.btn-icon {
    background-color: transparent;
    border-color: transparent;
    margin-top: -4px;
}

/* Fore more beautiful select pickers */
.btn-no-shadow {
    box-shadow: none !important;
}

.clickable {
    cursor: pointer;
}

/* Small progress bar*/
.progress-small {
    height: 4px;
}

.progress-in-card {
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
    border-radius: 4px;
}