<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

        <base th:href="@{/}" />
        <link id="ENDPOINT_URI" th:href="@{/api}" />

        <title>MBP</title>

        <!-- Favicon-->
        <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

        <!-- Bootstrap Css -->
        <link th:href="@{/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />

        <!-- Angular Css -->
        <link th:href="@{/css/angular.css}" rel="stylesheet" />

        <!-- Waves Effect Css -->
        <link th:href="@{/plugins/node-waves/waves.css}" rel="stylesheet" />

        <!-- Animation Css -->
        <link th:href="@{/plugins/animate-css/animate.css}" rel="stylesheet" />

        <!-- Morris Chart Css-->
        <link th:href="@{/plugins/morrisjs/morris.css}" rel="stylesheet" />

        <!-- JQuery DataTable Css -->
        <link th:href="@{/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css}" rel="stylesheet">

        <!-- Dropzone CSS -->
        <link th:href="@{/plugins/dropzone/min/dropzone.min.css}" rel="stylesheet" />

        <!-- Custom Css -->
        <link th:href="@{/css/style.css}" rel="stylesheet">

        <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
        <link th:href="@{/css/themes/all-themes.css}" rel="stylesheet" />

        <!-- Angular UI Bootstrap href fix -->
        <link th:href="@{/plugins/angular-ui/bootstrap/css/angular-ui-fix.css}" rel="stylesheet" />

        <!-- Angular UI Select Plugin -->
        <link th:href="@{/plugins/angular-ui-select/css/select.min.css}" rel="stylesheet" />

        <!-- Angular Dropzone Plugin -->
        <link th:href="@{/plugins/angular-dropzone/css/ng-dropzone.min.css}" rel="stylesheet" />
    </head>

    <body ng-class="expert ? 'theme-red' : 'theme-blue'" ng-cloak>
        <!-- Overlay For Sidebars -->
        <div class="overlay"></div>
        <!-- #END# Overlay For Sidebars -->

        <!-- Top Bar -->
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                    <a href="javascript:void(0);" class="bars"></a>
                    <a class="navbar-brand" href="./">Multi-purpose Binding and Provisioning Platform</a>
                </div>
            </div>
        </nav>
        <!-- #END# Top Bar -->

        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    <img src="images/user.png" width="48" height="48" alt="User" />
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{expert ? "Expert User" : "Normal User"}}
                    </div>
                    <div class="btn-group user-helper-dropdown" uib-dropdown is-open="status.isopen">
                        <!--<button class="dropdown-toggle pull-right">-->
                        <i class="material-icons" id="single-button" type="button"  uib-dropdown-toggle ng-disabled="disabled">keyboard_arrow_down</i>      
                        <!--</button>-->
                        <ul class="dropdown-menu pull-right" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li ng-hide="expert">
                                <a href="view/expert"><i class="material-icons">person</i>Go Expert</a>
                            </li>
                            <li ng-show="expert">
                                <a href="view/no-expert"><i class="material-icons">person</i>Leave Expert</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header">Main Navigation</li>
                    <li class="active" href="" menu-item>
                        <a href="./">
                            <i class="material-icons">home</i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li href="view/actuators" menu-item>
                        <a href="view/actuators">
                            <i class="material-icons">wb_incandescent</i>
                            <span>Actuators</span>
                        </a>
                    </li>
                    <li href="view/sensors" menu-item>
                        <a href="view/sensors">
                            <i class="material-icons">settings_remote</i>
                            <span>Sensors</span>
                        </a>                        
                    </li>
                    <li href="view/devices" ng-show="expert" menu-item>
                        <a href="view/devices">
                            <i class="material-icons">devices</i>
                            <span>Devices</span>
                        </a>
                    </li>
                    <li href="view/types" ng-show="expert" menu-item>
                        <a href="view/types">
                            <i class="material-icons">description</i>
                            <span>Adapter types</span>
                        </a>
                    </li>
                    <!--                    <li ng-hide="expert">
                                            <a href="view/expert">
                                                <i class="material-icons">person</i>
                                                <span>Go Expert</span>
                                            </a>
                                        </li>
                                        <li ng-show="expert">
                                            <a href="view/no-expert">
                                                <i class="material-icons">person</i>
                                                <span>Back to Normal User</span>
                                            </a>
                                        </li>-->
                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    &copy; 2016 <a href="javascript:void(0);">MBP</a>.
                </div>
                <!--<div class="version">
                    <b>Version: </b> 0.2.0
                </div>-->
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->

        <section class="content">
            <div class="container-fluid">
                <!--                <div ng-controller="MainCtrl as main">
                                    <pre>$location.absUrl() = {{main.$location.absUrl()}}</pre>
                                    <pre>$location.path() = {{main.$location.path()}}</pre>
                                    <pre>$route.current.templateUrl = {{main.$route.current.templateUrl}}</pre>
                                    <pre>$route.current.params = {{main.$route.current.params}}</pre>
                                    <pre>$route.current.scope.name = {{$route.current.scope.name}}</pre>
                                    <pre>$routeParams = {{main.$routeParams}}</pre>
                                </div>-->
                <div ng-view>
                </div>
            </div>
        </section>

        <!-- JQuery -->
        <script th:src="@{/plugins/jquery/jquery-3.1.1.min.js}" type="text/javascript"></script>

        <!-- Bootstrap JS -->
        <script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>

        <!-- Waves Effect Plugin Js -->
        <script th:src="@{/plugins/node-waves/waves.js}"></script>

        <!-- Dropzone Js -->
        <script th:src="@{/plugins/dropzone/min/dropzone.min.js}"></script>

        <!-- JQuery Steps Plugin Js -->
        <script th:src="@{/plugins/jquery-steps/jquery.steps.min.js}"></script>

        <!-- Custom Template Js -->
        <script th:src="@{/js/admin.js}"></script>

        <!-- Input Mask Plugin Js -->
        <script th:src="@{/plugins/jquery-inputmask/jquery.inputmask.bundle.js}"></script>

        <!-- AngularJS with resource and route - built by WRO -->
        <script th:src="@{/js/angular.js}" type="text/javascript"></script>

        <!-- Angular UI Bootstrap Plugin -->
        <script th:src="@{/plugins/angular-ui/bootstrap/js/ui-bootstrap-tpls-2.4.0.min.js}"></script>

        <!-- Angular UI Select Plugin -->
        <script th:src="@{/plugins/angular-ui-select/js/select.min.js}"></script>

        <!-- Angular File Upload Plugin -->
        <script th:src="@{/plugins/angular-file-upload/js/ng-file-upload.min.js}"></script>

        <!-- Angular Dropzone Plugin -->
        <script th:src="@{/plugins/angular-dropzone/js/ng-dropzone.min.js}"></script>

        <!-- Angular Smart Table Plugin -->
        <script th:src="@{/plugins/angular-smart-table/js/smart-table.min.js}"></script>

        <!-- Angular -->
        <script th:src="@{/js/app.js}"></script>
        <script th:src="@{/js/services/SessionService.js}"></script>        
        <script th:src="@{/js/services/CrudService.js}"></script>
        <script th:src="@{/js/services/FileReader.js}"></script>
        <script th:src="@{/js/services/DeviceService.js}"></script>
        <script th:src="@{/js/services/ComponentService.js}"></script>
        <script th:src="@{/js/services/TypeService.js}"></script>

        <script th:src="@{/js/directives/menuItem.js}"></script>
        <script th:src="@{/js/directives/popover.js}"></script>
        <script th:src="@{/js/directives/fileModel.js}"></script>
        <script th:src="@{/js/directives/ngDropzone.js}"></script>
        <script th:src="@{/js/directives/refreshTable.js}"></script>

        <script th:src="@{/js/controllers/ItemListController.js}"></script>
        <script th:src="@{/js/controllers/ItemDetailsController.js}"></script>
        <script th:src="@{/js/controllers/AddItemController.js}"></script>

        <script th:src="@{/js/controllers/home/HomeController.js}"></script>
        <script th:src="@{/js/controllers/actuators/ActuatorListController.js}"></script>
        <script th:src="@{/js/controllers/sensors/SensorListController.js}"></script>
        <script th:src="@{/js/controllers/devices/DeviceListController.js}"></script>
        <script th:src="@{/js/controllers/types/TypeListController.js}"></script>
        <script th:src="@{/js/controllers/actuators/ActuatorDetailsController.js}"></script>
        <script th:src="@{/js/controllers/sensors/SensorDetailsController.js}"></script>
    </body>
</html>