<div class="row clearfix" ng-hide>
    <!-- List of Devices Card -->
    <div class="col-lg-7">
        <div class="card">
            <div class="header">
                <h2>
                    List of devices
                </h2>
            </div>
            <div class="body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Mac address</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="deviceListCtrl.items.length == 0">
                            No devices registered yet.
                        </tr>
                        <tr id="{{item.id}}" ng-repeat="item in deviceListCtrl.items">
                            <td>{{item.name}}</td>
                            <td>{{item.formattedMacAddress}}</td>
                        </tr>
                        <tr ng-show="deviceListCtrl.items.length === 0">
                            <td>No devices registered yet.</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- #END# List of Devices Card -->

    <!-- Register Device Card -->
    <div class="col-lg-5">
        <div class="card">
            <div class="header">
                <h2>
                    Register
                </h2>
            </div>
            <div class="body">
                <form ng-submit="addDeviceCtrl.addItem()">
                    <fieldset id="device-form">
                        <h2 class="card-inside-title">New device</h2>
                        <div class="row clearfix">
                            <div class="col-xs-12">
                                <!-- "global" error for addItem -->
                                <div class="form-group" ng-class="{'has-error' : addDeviceCtrl.item.errors.global}">
                                    <span class="alert alert-danger" ng-show="addDeviceCtrl.item.errors.global"> {{addDeviceCtrl.item.errors.global}} </span>
                                </div>
                                <!-- item.name group -->
                                <div class="form-group" ng-class="{'has-error' : addDeviceCtrl.item.errors.name }">
                                    <div class="form-line" ng-class="{'focused error' : addDeviceCtrl.item.errors.name }">
                                        <input class="form-control" id="device-form-input-name"  type="text" placeholder="Name" ng-model="addDeviceCtrl.item.name" />
                                    </div>
                                    <span class="help-block" ng-show="addDeviceCtrl.item.errors.name">{{addDeviceCtrl.item.errors.name.message}}</span>
                                </div>
                                <!-- item.macAddress group -->
                                <div class="form-group" ng-class="{'has-error' : addDeviceCtrl.item.errors.macAddress }">
                                    <div class="form-line" ng-class="{'focused error' : addDeviceCtrl.item.errors.macAddress }">
                                        <input class="form-control mac-address" id="device-form-input-macAddress"  type="text" placeholder="Mac address" ng-model="addDeviceCtrl.item.formattedMacAddress" />
                                    </div>
                                    <span class="help-block" ng-show="addDeviceCtrl.item.errors.macAddress">{{addDeviceCtrl.item.errors.macAddress.message}}</span>
                                </div>
                                <!-- item.ipAddress group -->
                                <div class="form-group" ng-class="{'has-error' : addDeviceCtrl.item.errors.ipAddress }">
                                    <div class="form-line" ng-class="{'focused error' : addDeviceCtrl.item.errors.ipAddress }">
                                        <input class="form-control" id="device-form-input-ipAddress"  type="text" placeholder="IP address" ng-model="addDeviceCtrl.item.ipAddress" />
                                    </div>
                                    <p class="help-block">IP Address is optional and will be overwritten once the system finds the device.</p>
                                    <span class="help-block" ng-show="addDeviceCtrl.item.errors.ipAddress">{{addDeviceCtrl.item.errors.ipAddress.message}}</span>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <!-- buttons -->
                                <div class="form-group align-right">
                                    <button type="submit" class="btn btn-primary m-t-15 waves-effect">
                                        Register
                                    </button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <!-- #END# Register Device Card -->
</div>