<div class="row clearfix" ng-hide>
    <!-- List of Types Card -->
    <div class="col-lg-7">
        <div class="card">
            <div class="header">
                <h2>
                    List of adapter types
                </h2>
            </div>
            <div class="body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="{{item.id}}" ng-repeat="item in typeListCtrl.items">
                            <td>{{item.name}}</td>
                            <td>{{item.description}}</td>
                        </tr>
                        <tr ng-show="typeListCtrl.items.length === 0">
                            <td>No types registered yet.</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- #END# List of Types Card -->

    <!-- Register Type Card -->
    <div class="col-lg-5">
        <div class="card">
            <div class="header">
                <h2>
                    Register
                </h2>
            </div>
            <div class="body">
                <form ng-submit="addTypeCtrl.addItem()">
                    <fieldset id="type-form">
                        <h2 class="card-inside-title">Add adapter type</h2>
                        <div class="row clearfix">
                            <div class="col-xs-12">
                                <!-- "global" error for addItem -->
                                <div class="form-group" ng-class="{'has-error' : addTypeCtrl.item.errors.global}">
                                    <span class="alert alert-danger" ng-show="addTypeCtrl.item.errors.global"> {{addTypeCtrl.item.errors.global}} </span>
                                </div>
                                <!-- item.name group -->
                                <div class="form-group" ng-class="{'has-error' : addTypeCtrl.item.errors.name }">
                                    <div class="form-line" ng-class="{'focused error' : addTypeCtrl.item.errors.name }">
                                        <input class="form-control" id="type-form-input-name"  type="text" placeholder="Name" ng-model="addTypeCtrl.item.name" />
                                    </div>
                                    <span class="help-block" ng-show="addTypeCtrl.item.errors.name">{{addTypeCtrl.item.errors.name.message}}</span>
                                </div>
                                <!-- item.description group -->
                                <div class="form-group" ng-class="{'has-error' : addTypeCtrl.item.errors.description }">
                                    <div class="form-line" ng-class="{'focused error' : addTypeCtrl.item.errors.description }">
                                        <textarea rows="2" class="form-control no-resize" placeholder="Describe this Type..." ng-model="addTypeCtrl.item.description"></textarea>
                                    </div>
                                    <span class="help-block" ng-show="addTypeCtrl.item.errors.description">{{addTypeCtrl.item.errors.description.message}}</span>
                                </div>
                                <!-- item.service group -->

                                <label>Service (single .conf file)</label>
                                <div class="form-group" ng-class="{'has-error' : addTypeCtrl.item.errors.service }">
                                    <div class="form-line" ng-class="{'focused error' : addTypeCtrl.item.errors.service }">
                                        <div class="dropzone" options="ctrl.dzServiceOptions" callbacks="ctrl.dzServiceCallbacks" methods="ctrl.dzMethods" ng-dropzone></div>
                                        <!--<input type="file" ng-dropzone ng-model="addTypeCtrl.item.serviceFile" />-->
                                    </div>
                                    <span class="help-block" ng-show="addTypeCtrl.item.errors.service">{{addTypeCtrl.item.errors.service.message}}</span>
                                </div>
                                <!-- item.routine group -->
                                <label>Routines (you may select multiple files at once)</label>
                                <div class="form-group" ng-class="{'has-error' : addTypeCtrl.item.errors.routines }">
                                    <div class="form-line" ng-class="{'focused error' : addTypeCtrl.item.errors.routines }">
                                        <div class="dropzone" options="ctrl.dzRoutinesOptions" callbacks="ctrl.dzRoutinesCallbacks" methods="ctrl.dzMethods" ng-dropzone></div>
                                        <!--<input type="file" multiple ng-dropzone ng-model="addTypeCtrl.item.routineFiles"  />-->
                                    </div>
                                    <span class="help-block" ng-show="addTypeCtrl.item.errors.routines">{{addTypeCtrl.item.errors.routines.message}}</span>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <!-- buttons -->
                                <div class="form-group align-right">
                                    <button type="submit" class="btn btn-primary m-t-15 waves-effect">
                                        REGISTER
                                    </button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <!-- #END# Register Type Card -->
</div>